.beta-tag {
  background-color: var(--color-citrine-300);
  color: var(--color-copper-900);
  border-radius: var(--border-radius);
  margin-inline: 0.5em;
  padding: 0.25em 0.5em;
  font-size: 0.85em;
  font-weight: 550;
}
