@import '../../styles/variables.scss';

.debug-info {
  display: none;
  position: fixed;
  top: 20px;
  bottom: 20px;
  right: 20px;
  left: 20px;
  padding: 10px;
  z-index: $z-09-debug;
  background: white;

  &.visible {
    display: block;
  }

  > textarea {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    font-family: 'Courier New', monospace;
    font-size: 11px;
    resize: none;
  }
}

.debug-hover-polygon {
  position: absolute;
  z-index: $z-07-debug-hover-polygon;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  canvas {
    position: absolute;
    left: 0;
    top: 0;
  }
}
