@import "../../styles/variables.scss";

.debug-info {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px;
  z-index: $z-09-debug;
  background-color: rgba(192, 192, 192, 0.5);

  > textarea {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    font-family: monospace;
    font-size: 13px;
    resize: none;
    box-shadow: 0 0 0 10px white;
  }
}
