@import "../../styles/variables.scss";

.notification-bar {
  position: relative;
  z-index: $z-08-notification-bar;
  padding: 0.75em calc(36px + 1.5em); /* Makes room for dismiss button */
  text-align: center; /* Since the app is very center-view oriented, this helps message legibility */
  // background-color: $alert-background;
  // border-bottom: 3px solid $alert-border;
  // background-color: #fff0c0; // TODO: This is new toast color; make variable
  // border-bottom: 5px solid #ffd755;
  background-color: #333;
  border-bottom: 5px solid #606060;
  color: #fcfcfc;

  // Temporary (on dark background)
  a,
  a:hover,
  a:active,
  a:visited {
    color: $colour-turquoise-300;
  }
}

/* Close button overrides */
// TODO: Make standard for toast, status, etc
$close-icon-colour: $colour-copper-500;
$close-icon-colour-hover: $colour-copper-600;

.notification-bar .close {
  width: 24px;
  height: 24px;
  padding: 0;
  top: 7px;
  right: 6px;
  display: flex !important;
  justify-content: center;
  align-items: center !important;

  &:hover {
    // background-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:active {
    // background-color: rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.2);
  }

  svg {
    // color: $close-icon-colour !important;
    color: #cfcfcf !important;
  }

  &:hover svg {
    // color: $close-icon-colour-hover !important;
    color: white !important;
  }
}
