@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.street-scroll-indicators {
  position: absolute;

  button {
    @include tap-highlight-color(transparent);

    position: fixed;
    margin-top: -275px;
    padding: 0 15px;
    opacity: 0.25;
    font-size: 80px;
    letter-spacing: -13px;
    cursor: pointer;
    user-select: none;
    z-index: $z-07-street-scroll;

    // Override default button styles
    background-color: transparent !important;
    border: 0 !important;

    &:hover {
      opacity: 0.45;
    }

    &:active {
      opacity: 0.65;
    }

    [dir="rtl"] & {
      direction: ltr;
    }
  }
}

.street-scroll-indicator-left {
  left: 0;
}

.street-scroll-indicator-right {
  right: 12px;
  text-align: right;
}
