@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.street-scroll-indicators {
  position: absolute;

  button {
    @include tap-highlight-color(transparent);

    position: fixed;
    height: 80px;
    margin-top: -260px;
    padding: 0 0.2em;
    opacity: 0.25;
    font-size: 80px;
    line-height: 1;
    letter-spacing: -0.15em;
    cursor: pointer;
    user-select: none;
    z-index: $z-07-street-scroll;

    // Override default button styles
    background-color: transparent !important;
    border: 0 !important;

    &:hover {
      opacity: 0.45;
    }

    &:active {
      opacity: 0.65;
    }

    [dir="rtl"] & {
      direction: ltr;
    }
  }
}

.street-scroll-indicator-left {
  left: 0;
}

.street-scroll-indicator-right {
  right: 0;

  // Visual alignment on the right side of the screen
  padding-right: 0.4em !important;
}
