.popup-controls {
  .icon {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 2px 3px;
    fill: #231f20;
  }

  button[disabled] .icon {
    opacity: 0.4;
  }

  [data-icon="lock"] {
    position: absolute;
    inset-block-start: -2px;
    inset-inline-end: -2px;
    color: var(--color-copper-800);
  }

  .variants {
    text-align: start;
    min-height: var(--popup-button-size);
    flex-grow: 1;
  }

  .non-variant {
    user-select: none;

    /* Takes up the entire width of popup if it is by itself */
    &:only-child {
      width: 100%;
      text-align: center;
    }

    &.building-height {
      margin-top: -36px;
      height: auto;
      white-space: normal;
      width: 115px;
      text-align: center;
    }
  }

  .variants,
  .non-variant {
    button {
      white-space: nowrap;
      position: relative;
      padding: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .icon {
        opacity: 0.666;
      }

      &:not([disabled]):active {
        .icon {
          margin-top: 1px;
          opacity: 0.9;
        }
      }
    }
  }

  .variant-selected,
  .variant-selected:hover {
    background: var(--color-copper-400) !important;
    opacity: 1;

    .icon {
      /* Overrides disabled button opacity */
      opacity: 1 !important;
    }
  }
}

.popup-control-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.popup-control-group {
  padding: 10px;

  &:not(:first-child) {
    border-top: 1px solid var(--color-turquoise-300);
  }
}

.popup-control-label {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-turquoise-700);

  + .variants {
    flex-grow: 0 !important;
  }
}

.popup-control-button-group {
  white-space: nowrap;
  user-select: none;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  button {
    margin-right: 3px;
  }
}
