.popup-controls {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .icon,
  .tabler-icon {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 2px 3px;
  }

  .icon {
    fill: rgb(35 31 32 / 66%);
  }

  .tabler-icon {
    color: rgb(35 31 32 / 66%);
  }

  button[disabled] .icon {
    opacity: 0.5;
  }

  [data-icon="lock"] {
    position: absolute;
    inset-block-start: -2px;
    inset-inline-end: -2px;
    color: var(--color-copper-800);
  }

  .variants,
  .non-variant {
    user-select: none;
    flex-direction: column;
    gap: 0.5em;
    display: flex;

    button {
      white-space: nowrap;
      position: relative;
      padding: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: var(--popup-button-size);
      height: var(--popup-button-size);

      &:not([disabled]):active {
        .icon,
        .tabler-icon {
          margin-top: 1px;
          opacity: 0.9;
        }
      }
    }
  }

  .variants {
    text-align: start;
    flex-grow: 1;
  }

  .non-variant {
    /* Takes up the entire width of popup if it is by itself */
    &:only-child {
      width: 100%;
      text-align: center;
    }

    &.building-height {
      margin-top: -36px;
      height: auto;
      white-space: normal;
      width: 115px;
      text-align: center;
    }
  }

  .variant-selected,
  .variant-selected:hover {
    background: var(--color-copper-400) !important;
    opacity: 1;

    .icon {
      /* Overrides disabled button opacity */
      opacity: 1 !important;
    }
  }
}

.popup-control-row {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.popup-control-group {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.popup-control-label {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-turquoise-700);
}

.popup-control-button-group {
  display: flex;
  align-items: center;
  position: relative;
  white-space: nowrap;
  user-select: none;

  button {
    margin-right: 0.25em;
  }
}

.temp-elev-icon {
  position: relative !important;
  width: 30px !important;
  height: 30px !important;
  margin-inline-end: 0.25em;
}

.temp-row {
  position: relative;
  display: flex;
  align-items: center;
}

.up-down-input-decrement,
.up-down-input-increment {
  margin-right: 0 !important;
}

.popup-control-group .popover-trigger {
  width: 23px !important;
  height: 23px !important;
}
