@import "../../styles/variables";
@import "../../styles/mixins";

$dialog-border-radius: var(--border-radius-large);
$header-background-colour: var(--color-turquoise-200);
$header-text-colour: var(--color-turquoise-700);

.dialog-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.dialog-box-backdrop {
  z-index: var(--z-08-dialog-box-backdrop);
  position: absolute;
  inset: 0;
  background: fade-out($sky-colour, 0.5);
  touch-action: none;

  /* Transitions */
  transition: opacity 60ms ease-in-out;
  opacity: 0;
}

.dialog-box {
  position: relative;

  // balance the dialog by making it slightly north of center
  margin-top: -3%;
  padding: 0;
  background: white;
  line-height: 1.4;
  z-index: var(--z-09-dialog-box);
  touch-action: none;

  /* New styles! Let's try it! */
  border-radius: $dialog-border-radius;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 7.5%);

  /* Transitions */
  transition:
    opacity 80ms ease-in-out,
    transform 80ms ease-in-out;
  opacity: 0;
  transform: scale(0.9);

  /* Containing child element */
  > div {
    display: flex;
    flex-direction: column;
  }

  header {
    padding: 1.75rem 1em;
    text-align: center;
    background-color: $header-background-colour;
    color: $header-text-colour;
  }

  h1 {
    @include large-message-text;

    margin: 0;
  }

  footer {
    padding: 1rem 2rem;
    margin-top: 0;
    color: rgb(160 160 160);
    font-size: 0.85em;

    > p:first-child {
      margin-top: 0;
    }

    a {
      color: inherit;
    }

    a:hover {
      color: rgb(120 120 120);
    }
  }

  button.close {
    z-index: var(--z-09-dialog-box);
  }

  // Button placement
  button.btn,
  a.btn {
    margin: 0 auto;
    margin-top: 1em;
  }
}

/* Transitions */
.dialog-transition-enter-done .dialog-box {
  opacity: 1;
  transform: scale(1);
}

.dialog-transition-exit .dialog-box {
  opacity: 0;
  transform: scale(0.9);
}

.dialog-transition-enter-done .dialog-box-backdrop {
  opacity: 1;
}

.dialog-transition-exit .dialog-box-backdrop {
  opacity: 0;
}

.dialog-content {
  flex-grow: 1;
  position: relative;

  &:not(.dialog-content-bleed) {
    padding: 1rem 2rem;
  }

  > p:first-child {
    margin-top: 0;
  }
}

button.dialog-primary-action {
  border: 0;
  border-top: 1px solid $colour-turquoise-350;
  border-radius: 0;
  background-color: white;
  font-weight: normal;
  width: 100%;
  text-align: center;
  color: $colour-turquoise-600;
  min-height: 46px;
  cursor: pointer;

  /* override .dialog-box button */
  margin-top: 0 !important;

  &:hover {
    background-color: $colour-turquoise-100;
    color: $colour-turquoise-700;
  }
}
