@use "sass:color";
@import "../../styles/variables";

.whats-new-dialog {
  width: 550px;
  height: 80vh;
  max-height: 800px;
  font-family: Inter, Rubik, sans-serif;
  font-size: 14px;
}

.whats-new-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  overflow-y: scroll;

  h1 {
    display: none;
  }

  h2 {
    color: $colour-turquoise-600;
    font-weight: normal;
    font-size: 1.75rem;
  }

  h2:not(:first-of-type) {
    border-top: 1px solid $colour-turquoise-300;
    padding-top: 1.25em;
    margin-top: 1.25em;
  }

  h3 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-weight: normal;
    font-size: 1.35rem;
    color: $colour-turquoise-600;
  }

  ul {
    padding-left: 1.5rem;
  }

  li {
    margin-bottom: 0.75em;
  }

  ul ul {
    margin-top: 1em;
  }

  img {
    width: 100%;
  }

  li > img {
    margin-top: 1em;
  }

  .img-ui {
    border: 1px solid $colour-turquoise-400;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 5%);
  }
}

.whats-new-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whats-new-language-banner {
  /* Very similar to the notification bar banner */
  padding: 0.75em 2.5em;
  text-align: center;
  background-color: $alert-background;
  border-bottom: $alert-border;
}

.whats-new-scroll-shade {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  transition: opacity 300ms ease-in-out;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    color.change($colour-turquoise-500, $alpha: 0.1) 0%,
    transparent 100%
  );
  opacity: 0;
}

.whats-new-scroll-shade.visible {
  opacity: 1;
}
