@use "sass:color";
@import "../../styles/variables";
@import "../../styles/mixins";

.btn,
a.btn {
  @include tap-highlight-color("transparent !important");

  display: inline-block;
  outline: none;
  border: 0;
  border-radius: var(--border-radius-medium);
  padding: 0.75em 2em;
  background-color: var(--color-turquoise-250);
  color: var(--color-midnight-700);
  font-weight: 550;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  // stylelint-disable-next-line selector-class-pattern
  &:not([disabled]) .svg-inline--fa {
    color: var(--color-midnight-700);
  }

  &:hover {
    background-color: var(--color-turquoise-300);
  }

  &:active {
    background-color: var(--color-turquoise-300);
  }

  &[disabled] {
    background-color: color.adjust(
      fade-out($ui-colour, 0.7),
      $saturation: -100%
    ) !important;
    color: #999 !important;
    cursor: auto;

    // stylelint-disable-next-line selector-class-pattern
    .svg-inline--fa {
      color: #999 !important;
    }

    &:hover {
      background-color: color.adjust(
        fade-out($ui-colour, 0.7),
        $saturation: -100%
      ) !important;
    }
  }

  &.btn-primary {
    background-color: var(--color-emerald-400);
    color: white;

    &:hover {
      // TODO: replace with new color stop?
      background-color: color-mix(
        in oklch,
        var(--color-emerald-400),
        var(--color-emerald-500) 25%
      );
    }
  }

  &.btn-secondary {
    background-color: var(--color-turquoise-500);
    color: white;

    &:hover {
      // TODO: replace with new color stop?
      background-color: color-mix(
        in oklch,
        var(--color-emerald-500),
        var(--color-emerald-600) 25%
      );
    }
  }

  &.btn-tertiary {
    background-color: transparent;
    color: var(--color-turquoise-600);

    &:not(:disabled) {
      border: 1px solid var(--color-turquoise-400);
    }

    &:hover {
      background-color: var(--color-turquoise-100);
      color: var(--color-turquoise-700);
    }
  }
}
