.btn,
a.btn {
  display: inline-block;
  outline: none;
  border: 0;
  border-radius: var(--border-radius-medium);
  padding: 0.75em 2em;
  background-color: var(--color-turquoise-300);
  color: var(--color-midnight-900);
  font-weight: 550;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  // stylelint-disable-next-line selector-class-pattern
  &:not([disabled]) .svg-inline--fa {
    color: var(--color-midnight-900);
  }

  &:hover {
    background-color: var(--color-turquoise-400);
  }

  &:active {
    background-color: var(--color-turquoise-400);
  }

  &[disabled] {
    background-color: var(--deprecated-ui-color-fade-desaturate) !important;
    color: #999 !important;
    cursor: auto;

    // stylelint-disable-next-line selector-class-pattern
    .svg-inline--fa {
      color: #999 !important;
    }

    &:hover {
      background-color: var(--deprecated-ui-color-fade-desaturate) !important;
    }
  }

  &.btn-primary {
    background-color: var(--color-emerald-500);
    color: white;

    &:hover {
      background-color: var(--color-emerald-600);
    }
  }

  &.btn-secondary {
    background-color: var(--color-turquoise-500);
    color: white;

    &:hover {
      background-color: var(--color-turquoise-600);
    }
  }

  &.btn-tertiary {
    background-color: transparent;
    color: var(--color-turquoise-700);

    &:not(:disabled) {
      border: 1px solid var(--color-turquoise-500);
    }

    &:hover {
      background-color: var(--color-turquoise-100);
      color: var(--color-turquoise-800);
    }
  }
}
