version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  reviewers:
  - louh
  labels:
  - dependencies
  versioning-strategy: increase-if-necessary

- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
  reviewers:
  - louh
