.analytics-dialog {
  width: 820px;
  min-height: 660px;
  max-height: 75vh;

  .dialog-content {
    overflow: hidden;
    overflow-y: scroll;
  }
}

.analytics-dialog-content {
  display: inline;
  margin-bottom: 2em;
}

.analytics-dialog-left {
  flex-basis: 240px;
  margin-right: 40px;
  padding-right: 40px;
  position: fixed;
  width: 520px;

  [dir="rtl"] & {
    margin-left: 40px;
    margin-right: 0;
    border-right: 0;
    padding-left: 40px;
    padding-right: 0;
  }

  p:first-child {
    margin-top: 0;
  }

  p {
    margin-top: 1.5em;
  }
}

.analytics-dialog-right {
  flex: 1;
  margin-bottom: 15px;
  margin-left: 520px;

  [dir="rtl"] & {
    margin-right: 320px;
    margin-left: 0;
  }

  > :first-child {
    margin-top: 0;
  }

  > h2 {
    margin-top: 1.5em;
  }
}

.analytics-dialog-sponsors {
  margin-top: -1em !important;

  img {
    height: 40px;
  }
}

.analytics-dialog-sponsors li {
  display: inline-block;
  margin-right: 1.5em;
  margin-top: 1em;

  [dir="rtl"] & {
    margin-left: 1.5em;
    margin-right: 0;
  }
}

.people-section {
  float: right;
}

.icon-person {
  margin: 5px;
}

.segment-analytics {
  position: relative;
  width: 100%;
}

.segment-analytics .segment-icon {
  position: absolute;
  left: 5px;
  z-index: 999;
}

.segment-icon canvas {
  margin-left: -5px;
}

.segment-analytics .capacity-bars {
  position: relative;
  display: inline-block;
}

.segment-analytics .capacity-text {
  min-width: 15%;
  display: inline-block;
  vertical-align: top;
}

.capacity-text .capacity-label {
  font-size: 14px;
  font-weight: bold;
}

.capacity-text .capacity-summary {
  font-size: 14px;
}

.segment.segment-icon {
  display: inline-block;
  position: relative;
  height: 80px;
  top: 0;
  background-color: transparent;
  margin-right: 1px;
  transform-origin: 50% 75%;
  transition: transform 50ms !important;
}

.dialog-actions {
  text-align: center;
}

.segment-icon .segment-image {
  top: 0;
}

.analytics-dialog footer {
  text-align: center;
}

.analytics-dialog footer a {
  white-space: nowrap;
}
