.feature-flag-dialog {
  width: 600px;
}

.feature-flag-dialog ul {
  padding: 0;
  list-style-type: none;
  column-count: 2;
  column-gap: 2em;
}

.feature-flag-dialog ul li {
  margin: 0;
  margin-bottom: 0.25em;
  padding-left: 20px;
  text-indent: -20px;
}

.feature-flag-dialog ul input {
  width: 20px;
  margin-left: 0;
  margin-right: 0;
}

.feature-flag-dialog p {
  text-align: center;
}

.feature-flag-label-disabled {
  color: #b0baba;
}

.feature-flag-label-modified {
  font-weight: bold;
}
