@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

// Content of Save as Image dialog box
.save-as-image-dialog {
  width: 720px;

  p {
    text-align: center;
    font-size: 15px;
  }

  .checkbox-item {
    display: inline-block;
    margin-left: 20px;
  }

  .checkbox-item:first-of-type {
    margin-left: 0;
  }

  [dir="rtl"] & .checkbox-item {
    margin-left: 0;
    margin-right: 20px;
  }

  [dir="rtl"] & .checkbox-item:first-of-type {
    margin-right: 0;
  }

  footer {
    text-align: center;
  }
}

.save-as-image-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.save-as-image-preview-loading {
  font-size: 16px;
  text-align: center;
}

.save-as-image-preview-image {
  @include touch-callout(default);

  text-align: center;
  font-size: 0;

  img {
    /* Images may have variable dimensions. Use max-width/max-height
    to preserve aspect ratio */
    max-width: 100%;
    max-height: 300px;
    cursor: move; // IE
    cursor: grab;
    border-top: 3px dashed $ui-colour;
    border-bottom: 3px dashed $ui-colour;
  }
}

.save-as-image-download {
  text-align: center;
}
