h1(data-i18n='dialogs.save.heading').
  Save as image

p
  input#save-as-image-segment-names(type='checkbox')
  label(for='save-as-image-segment-names', data-i18n='dialogs.save.option-label').
    Segment names and widths
  input#save-as-image-street-name(type='checkbox')
  label(for='save-as-image-street-name', data-i18n='dialogs.save.option-name').
    Street name
  input#save-as-image-transparent-sky(type='checkbox')
  label(for='save-as-image-transparent-sky', data-i18n='dialogs.save.option-sky').
    Transparent sky

#save-as-image-preview
  #save-as-image-preview-loading(data-i18n='dialogs.save.loading').
    Loading…
  #save-as-image-preview-preview

p
  a.button-like#save-as-image-download(download, data-i18n='dialogs.save.save-button').
    Save to your computer…

footer(data-i18n='dialogs.save.license').
  This Streetmix-created image may be reused anywhere, for any purpose, under the
  <br><a href='http://creativecommons.org/licenses/by-sa/4.0/'>Creative Commons Attribution-ShareAlike 4.0 International License</a>.
