{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    // ["@babel/plugin-proposal-object-rest-spread", {}, "@babel/plugin-proposal-object-rest-spread2"],
    "@babel/plugin-proposal-class-properties",
    // ["@babel/plugin-transform-async-to-generator", {}, "@babel/plugin-transform-async-to-generator2"]
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-rewire"
      ]
    }
  }
}
