# -----------------------------------------------------------------------------
# Secrets are stored here.
# Rename from `.env.example` to `.env` to use. Once renamed, this file will
# be ignored by Git and should never be committed to the repository.
#
# For more information:
# https://streetmix.readthedocs.io/en/latest/technical/installing-streetmix/#setting-environment-variables
#
# -----------------------------------------------------------------------------

# You can change this if you need to mimic another deployment environment.
NODE_ENV=development

# Required secrets.
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=

# Optional secrets.
PELIAS_API_KEY=
IPSTACK_API_KEY=
TRANSIFEX_API_TOKEN=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Optional database configuration.
PGUSER=
PGPASSWORD=
PGDATABASE=
PGHOST=
PGPORT=
