.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

node_modules/
npm-debug.log*

# Ignore built assets
build
.cache

.env

newrelic_agent.log
.idea

# Ignore editor settings
.vscode

# Ignore code coverage folder
coverage
