{
  "overrides": [
    {
      "files": ["*.{js,jsx,ts,tsx,cjs}"],
      "options": {
        "trailingComma": "none",
        "semi": false,
        "singleQuote": true,
        "arrowParens": "always",
        "htmlWhitespaceSensitivity": "strict"
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
