{
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", ".tsx"],
      "options": {
        "trailingComma": "none",
        "semi": false,
        "singleQuote": true,
        "arrowParens": "always",
        "htmlWhitespaceSensitivity": "strict"
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "never"
      }
    }
  ]
}
