{
  "overrides": [
    {
      "files": ["*.{js,jsx,ts,tsx,cjs,mdx}"],
      "options": {
        "singleQuote": true,
        "htmlWhitespaceSensitivity": "strict"
      }
    },
    {
      "files": ["*.md,mdx"],
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
