@canvasWidth: 1056px;
@canvasHeight: 480px;
@headerHeight: 100px;
@toolsHeight: 100px;

@separatorWidth: 50px;
@hoverSeparatorWidth: 100px;

@tilesetWidth: 2622px; // retina
@tilesetHeight: 384px;

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;

  height: 100%;

  overflow: hidden;

  background: rgb(53, 45, 39);
}

header {
  width: @canvasWidth;
  height: @headerHeight;
  margin: 0 auto;

  position: absolute;
  top: 0;

  left: 50%;
  margin-left: -@canvasWidth / 2;

  background: url(images/title.png) center center no-repeat;

  z-index: 10000;
}

#street-section-canvas {
  position: absolute;

  display: block;

  left: 50%;
  margin-left: -@canvasWidth / 2;

  top: 50%;
  margin-top: -@canvasHeight / 2 - 20;

  width: @canvasWidth;
  height: @canvasHeight + 40;

  overflow: hidden;
  z-index: 10;
}
#street-section-sky {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -@canvasHeight / 2 - 1020px;
  height: @canvasHeight;

  background: url(images/sky.png);
  background-size: 250px 400px;

  background-repeat: repeat-x;
  background-position: 0 0;  

  border-top: 1001px solid rgb(179, 205, 209);

  /*-webkit-animation-name: sky-move, sky-hue;
  -webkit-animation-duration: 30s, 120s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;*/
}

@-webkit-keyframes sky-move {
 from { background-position-x: 0; }
 to { background-position-x: -250px; }
}

@-webkit-keyframes sky-hue {
 from { -webkit-filter: hue-rotate(0); }
 to { -webkit-filter: hue-rotate(360deg); }
}

#street-section-dirt {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -@canvasHeight / 2 + @canvasHeight - 100;
  height: @canvasHeight;

  background: url(images/texture_dirt.png);
  background-size: 120px 120px;

  background-repeat: repeat-x;
  background-position: 0 0;  

}
#street-section-left-building {
  display: block;
  position: absolute;

  z-index: 1000;

  left: 50%;
  margin-left: -@canvasWidth / 2 - 120px;

  top: 50%;
  margin-top: -@canvasHeight / 2 + 20px;

  width: 120px;
  height: @canvasHeight - 75px;
  background: url(images/building_commercial.png);
  background-size: 120px 480px;
}
#street-section-right-building {
  display: block;
  position: absolute;

  z-index: 1000;

  left: 50%;
  margin-left: @canvasWidth / 2;

  top: 50%;
  margin-top: -@canvasHeight / 2 + 20px;

  width: 120px;
  height: @canvasHeight - 75px;
  background: url(images/building_commercial_flip.png);
  background-size: 120px 480px;
}

#tools {
  position: absolute;
  width: @canvasWidth;
  height: @toolsHeight;
  margin: 0 auto;
  bottom: 0;
  left: 50%;

  background: url(images/texture_toolbox.png);

  box-shadow: 0 -2px 8px rgba(0, 0, 0, .25);
  border-radius: 10px 10px 0 0;

  text-align: center;

  z-index: 2000;

  margin-left: -@canvasWidth / 2;
}

#editable-street-canvas {
  width: 10000px;
  margin-left: -5000px + @canvasWidth / 2;
  height: @canvasHeight;
  text-align: center;
}

#editable-street-section {
  height: @canvasHeight;
  text-align: center;
}
.segment {
  display: inline-block;
  height: @canvasHeight;

  cursor: -webkit-grab;

  position: relative;

  -webkit-transition: width 100ms;
  -moz-transition: width 100ms;
  transition: width 100ms;

  -webkit-transition: background 250ms;
  -moz-transition: background 250ms;
  transition: background 250ms;
}
.segment:hover {
  -webkit-transition: background 100ms;
  -moz-transition: background 100ms;
  transition: background 100ms;

  background: rgba(255, 255, 255, .2);
}

.segment .image {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.segment .image img {
  position: absolute;
  width: @tilesetWidth / 2;
  pointer-events: none;
}

.segment.dragged-out {
  opacity: 0;
}
.segment.collapsed {
  width: 0 !important;
}

.segment.tool {
  background-size: 332px 70px;
  margin: 0 5px;
  height: 80px;
  margin-top: 17px;
  border-radius: 5px;
  background-color: rgba(25, 25, 25, 0.5);
  box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
}
.segment.tool .image img {
  width: @tilesetWidth / 2 / 3;
}


.segment[type='separator'] {
  background: transparent;
  outline: none;

  position: absolute;

  pointer-events: none;
}

.segment.dragging {
  position: absolute;
  left: 0;
  top: 0;

  opacity: .75;

  z-index: 5000;

  pointer-events: none;

  background: rgba(0, 0, 0, .05);

/*  -webkit-filter: drop-shadow(0 5px 15px rgba(0, 0, 0, .5));
  -moz-filter: drop-shadow(0 5px 15px rgba(0, 0, 0, .5));
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, .5));*/
}

.segment .name {
  position: absolute;
  left: 0;
  right: 0;
  top: @canvasHeight - 5;
  color: rgb(160, 160, 160);

  font-family: Arial, sans-serif;
  font-size: 12px;

  pointer-events: none;
}

.segment .width {
  position: absolute;
  left: 0;
  right: 0;
  top: @canvasHeight - 25;
  color: rgb(160, 160, 160);

  font-family: Arial, sans-serif;
  font-size: 12px;  

  pointer-events: none;  
}
.segment.tool .name,
.segment.tool .width {
  display: none;
}

#editable-street-section.dragging,
#editable-street-section.dragging * {
  cursor: move;  
}
#editable-street-section.dragging .segment {
  -webkit-transition: width 100ms, margin-left 100ms;
  -moz-transition: width 100ms, margin-left 100ms;
  transition: width 100ms, margin-left 100ms;
}

#editable-street-section.dragging > div:not([type='separator']) {
  pointer-events: none;
}

#editable-street-section.dragging > div[type='separator'] {
  pointer-events: auto;
  -webkit-transition: width 100ms;
}
#editable-street-section.dragging > div[type='separator'].hover {
  width: @hoverSeparatorWidth;
}
#editable-street-section.dragging > div[type='separator'].hover + div {
  margin-left: @hoverSeparatorWidth - @separatorWidth;
}

#pi {
  position: absolute;
  right: 10px;
  bottom: 15px;
  width: 40px;
  height: 10px;
  z-index: 10000;
}
