@canvasWidth: 1056px;
@canvasHeight: 480px;
@headerHeight: 100px;
@toolsHeight: 100px;

@separatorWidth: 50px;
@hoverSeparatorWidth: 100px;

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;

  height: 100%;

  overflow: hidden;

  background: rgb(53, 45, 39);
}

header {
  width: @canvasWidth;
  height: @headerHeight;
  margin: 0 auto;

  position: absolute;
  top: 0;

  left: 50%;
  margin-left: -@canvasWidth / 2;

  background: url(images/title.png) center center no-repeat;

  z-index: 10000;
}

#street-section-canvas {
  position: absolute;

  display: block;

  left: 50%;
  margin-left: -@canvasWidth / 2;

  top: 50%;
  margin-top: -@canvasHeight / 2;

  width: @canvasWidth;
  height: @canvasHeight;

  overflow: hidden;
  z-index: 10;
}
#street-section-sky {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -@canvasHeight / 2 - 1000px;
  height: @canvasHeight;

  background: url(images/sky.png);
  background-size: 250px 400px;

  background-repeat: repeat-x;
  background-position: 0 0;  

  border-top: 1001px solid rgb(179, 205, 209);
}
#street-section-dirt {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -@canvasHeight / 2 + @canvasHeight - 80;
  height: @canvasHeight;

  background: url(images/texture_dirt.png);
  background-size: 120px 120px;

  background-repeat: repeat-x;
  background-position: 0 0;  

}
#street-section-left-building {
  display: block;
  position: absolute;

  z-index: 1000;

  left: 50%;
  margin-left: -@canvasWidth / 2 - 120px;

  top: 50%;
  margin-top: -@canvasHeight / 2 + 40px;

  width: 120px;
  height: @canvasHeight;
  background: url(images/building_commercial.png);
  background-size: 120px 480px;
}
#street-section-right-building {
  display: block;
  position: absolute;

  z-index: 1000;

  left: 50%;
  margin-left: @canvasWidth / 2;

  top: 50%;
  margin-top: -@canvasHeight / 2 + 40px;

  width: 120px;
  height: @canvasHeight;
  background: url(images/building_commercial.png);
  background-size: 120px 480px;

  -webkit-transform: scaleX(-1);
}

#tools {
  position: absolute;
  width: @canvasWidth;
  height: @toolsHeight;
  margin: 0 auto;
  bottom: 0;
  left: 50%;

  background: url(images/texture_toolbox.png);

  box-shadow: 0 -2px 8px rgba(0, 0, 0, .25);
  border-radius: 10px 10px 0 0;

  text-align: center;

  z-index: 2000;

  margin-left: -@canvasWidth / 2;
}

#editable-street-canvas {
  width: 10000px;
  margin-left: -5000px + @canvasWidth / 2;
  height: @canvasHeight;
  text-align: center;
}

#editable-street-section {
  height: @canvasHeight;
  text-align: center;
}
.segment {
  display: inline-block;
  height: @canvasHeight;

  cursor: -webkit-grab;

  position: relative;

  -webkit-transition: width 100ms;

  //outline: 1px solid white;
}

.segment[type='drive-lane-inbound'] {
  background: url(images/StreetMix-CarsBuses-03.png);
  background-repeat: no-repeat;
  background-position: -23px 252px;
  background-size: 997px 211px;
}
.segment[type='drive-lane-outbound'] {
  background: url(images/StreetMix-CarsBuses-03.png);
  background-repeat: no-repeat;
  background-position: -155px 252px;
  background-size: 997px 211px;
}
.segment[type='parking-lane'] {
  background: url(images/StreetMix-CarsBuses-03.png);
  background-repeat: no-repeat;
  background-position: -292px 252px;
  background-size: 997px 211px;
}
.segment[type='turn-lane'] {
  background: url(images/StreetMix-CarsBuses-03.png);
  background-repeat: no-repeat;
  background-position: -410px 252px;
  background-size: 997px 211px;
}
.segment[type='bus-lane-inbound'] {
  background: url(images/StreetMix-CarsBuses-03.png);
  background-repeat: no-repeat;
  background-position: -541px 252px;
  background-size: 997px 211px;
}
.segment[type='bus-lane-outbound'] {
  background: url(images/StreetMix-CarsBuses-03.png);
  background-repeat: no-repeat;
  background-position: -705px 252px;
  background-size: 997px 211px;
}
.segment[type='sidewalk'] {
  background: url(images/StreetMix-SidewalkMedian-04.png);
  background-repeat: no-repeat;
  background-position: -24px 252px;
  background-size: 175px 211px;
}
.segment[type='planting-strip'] {
  background: url(images/StreetMix-SidewalkMedian-04.png);
  background-repeat: no-repeat;
  background-position: -105px 252px;
  background-size: 175px 211px;
}
.segment[type='bike-lane-inbound'] {
  background: url(images/StreetMix-NextBatch-05.png);
  background-repeat: no-repeat;
  background-position: -344px 252px;
  background-size: 1070px 211px;
}
.segment[type='bike-lane-outbound'] {
  background: url(images/StreetMix-NextBatch-05.png);
  background-repeat: no-repeat;
  background-position: -268px 252px;
  background-size: 1070px 211px;
}


.segment.dragged-out {
  opacity: 0;
}
.segment.collapsed {
  width: 0 !important;
}

.segment.tool {
  background-size: 332px 70px;
  background-position-y: 15px !important;
  margin: 0 5px;
  height: 80px;
  margin-top: 17px;
  border-radius: 5px;
  background-color: rgba(25, 25, 25, 0.5);
  box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
}

.segment.tool[type='drive-lane-inbound'] {
  background-position-x: -23 / 3px;
}
.segment.tool[type='drive-lane-outbound'] {
  background-position-x: -155 / 3px;
}
.segment.tool[type='parking-lane'] {
  background-position-x: -292 / 3px;
}
.segment.tool[type='turn-lane'] {
  background-position-x: -410 / 3px;
}
.segment.tool[type='bus-lane-inbound'] {
  background-position-x: -541 / 3px;
}
.segment.tool[type='bus-lane-outbound'] {
  background-position-x: -705 / 3px;
}
.segment.tool[type='sidewalk'] {
  background-position-x: -24 / 3px;
  background-size: 175 / 3px 211 / 3px;

}
.segment.tool[type='planting-strip'] {
  background-position-x: -105 / 3px;
  background-size: 175 / 3px 211 / 3px;
}
.segment.tool[type='bike-lane-inbound'] {
  background-position-x: -344 / 3px;
  background-size: 1070 / 3px 211 / 3px;
}
.segment.tool[type='bike-lane-outbound'] {
  background-position-x: -268 / 3px;
  background-size: 1070 / 3px 211 / 3px;
}

.segment[type='separator'] {
  background: transparent;
  outline: none;

  position: absolute;

  pointer-events: none;
}

.segment.dragging {
  position: absolute;
  left: 0;
  top: 0;

  opacity: .75;

  z-index: 5000;

  pointer-events: none;

  //outline: 1px solid black;

  -webkit-filter: drop-shadow(0 5px 15px rgba(0, 0, 0, .5));
}

.segment .name {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  color: white;

  display: none;

  pointer-events: none;
}

.segment .width {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  color: white;

  display: none;

  pointer-events: none;  
}

#editable-street-section.dragging,
#editable-street-section.dragging * {
  cursor: move;  
}
#editable-street-section.dragging .segment {
  -webkit-transition: width 100ms, margin-left 100ms;
}

#editable-street-section.dragging > div:not([type='separator']) {
  pointer-events: none;
}

#editable-street-section.dragging > div[type='separator'] {
  pointer-events: auto;
  -webkit-transition: width 100ms;
}
#editable-street-section.dragging > div[type='separator'].hover {
  width: @hoverSeparatorWidth;
}
#editable-street-section.dragging > div[type='separator'].hover + div {
  margin-left: @hoverSeparatorWidth - @separatorWidth;
}
