/**
 *
 *  Typography
 *
 *  ------------------------------------------------------- */

/* Set root font-size */
html {
  font-size: var(--font-size-base);
}

body,
input,
select,
option {
  font-family: var(--font-family);
  font-size: 1rem;
}

b,
strong {
  font-weight: 550;
}

/* Locale-specific rules */
html[lang="ko"] {
  word-break: keep-all;
}
