/**
 *
 *  Typography
 *
 *  ------------------------------------------------------- */

/* Set root font-size */
html {
  font-size: $font-size-base;
}

body,
input,
select,
option {
  font-family: $font-family;
  font-size: 1rem;
}

// Local font files

@font-face {
  font-family: Roadgeek;
  src: url("../fonts/roadgeek-2005-engschrift.otf");
}

/* Locale-specific rules */

html[lang="ko"] {
  word-break: keep-all;
}
