/**
 *  Typography
 *  ------------------------------------------------------- */

/* Set root font-size */
html {
  font-size: var(--font-size-base);
}

body,
input,
select,
option {
  font-family: var(--font-family);
  font-size: 1rem;
}

b,
strong {
  font-weight: 550;
}

/* Locale-specific rules */
html[lang="ko"] {
  word-break: keep-all;
}

/* Baseline size and appearance for h1 */
h1 {
  margin: 0;
  line-height: 1;
  font-size: 250%;
  font-weight: 300;
}

/**
 *  Custom font loading
 *  ------------------------------------------------------- */

/* These fonts are defined here but browsers will not load them unless they
   are actually used on the page. Use this section for fonts that should not
   be pre-installed and pre-loaded via npm */

/* montserrat-latin-400-normal */
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url("https://cdn.jsdelivr.net/fontsource/fonts/montserrat@5.3.0/latin-400-normal.woff2")
      format(woff2),
    url("https://cdn.jsdelivr.net/fontsource/fonts/montserrat@5.3.0/latin-400-normal.woff")
      format("woff");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/* lora-latin-400-normal */
@font-face {
  font-family: Lora;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url("https://cdn.jsdelivr.net/fontsource/fonts/lora@5.3.0/latin-400-normal.woff2")
      format(woff2),
    url("https://cdn.jsdelivr.net/fontsource/fonts/lora@5.3.0/latin-400-normal.woff")
      format("woff");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}
