@use "sass:color";

// Dimensions
$tile-size: 12px;
$canvas-height: 480px;
$canvas-ground: 35px;
$canvas-baseline: $canvas-height - $canvas-ground + 150px;
$gallery-height: 180px;
$thumbnail-width: 180px;
$thumbnail-height: 110px;
$building-space: 360px;
$segment-grid-height: 10px;
$left-right-inset: 50px;
$border-radius: 4px; // Deprecated. Use the following instead.
$border-radius-small: 2px;
$border-radius-medium: 4px;
$border-radius-large: 6px;
$border-radius-pill: 999em; // because 50% creates ovals, not pills
$menu-side-inset: $left-right-inset - 20px;
$breakpoint-md: 768px;

// Brand colours
$colour-emerald-700: rgb(9 63 20);
$colour-emerald-600: rgb(31 114 52);
$colour-emerald-500: rgb(26 145 78);
$colour-emerald-400: rgb(91 193 125);
$colour-emerald-300: rgb(147 219 169);
$colour-emerald-200: rgb(200 237 209);
$colour-emerald-100: rgb(231 247 234);
$colour-turquoise-700: rgb(21 68 71);
$colour-turquoise-600: rgb(48 108 114);
$colour-turquoise-500: rgb(82 162 175);
$colour-turquoise-400: rgb(137 193 206);
$colour-turquoise-300: rgb(193 235 247);
$colour-turquoise-200: rgb(220 243 249);
$colour-turquoise-100: rgb(235 249 252);
$colour-copper-700: rgb(86 34 17);
$colour-copper-600: rgb(137 69 40);
$colour-copper-500: rgb(181 109 72);
$colour-copper-400: rgb(216 141 100);
$colour-copper-300: rgb(248 184 144);
$colour-copper-200: rgb(249 213 192);
$colour-copper-100: rgb(249 238 232);
$colour-midnight-700: rgb(24 37 73);
$colour-midnight-600: rgb(53 67 119);
$colour-midnight-500: rgb(83 100 145);
$colour-midnight-400: rgb(123 139 173);
$colour-midnight-300: rgb(166 178 200);
$colour-midnight-200: rgb(212 219 232);
$colour-midnight-100: rgb(230 235 244);
$colour-turquoise-50: color.scale($colour-turquoise-100, $lightness: 20%);
$colour-turquoise-150: color.scale($colour-turquoise-200, $lightness: 20%);
$colour-turquoise-225: color.scale($colour-turquoise-200, $lightness: -5%);
$colour-turquoise-250: color.scale($colour-turquoise-200, $lightness: -10%);
$colour-turquoise-350: color.scale($colour-turquoise-300, $lightness: -10%);
$colour-turquoise-425: color.scale($colour-turquoise-400, $lightness: -5%);
$colour-turquoise-450: color.scale($colour-turquoise-400, $lightness: -10%);
$colour-emerald-150: color.scale($colour-emerald-200, $lightness: 20%);
$colour-emerald-350: color.scale($colour-emerald-300, $lightness: -10%);
$colour-copper-150: color.scale($colour-copper-200, $lightness: 20%);
$colour-copper-350: color.scale($colour-copper-300, $lightness: -10%);
$colour-midnight-150: color.scale($colour-midnight-200, $lightness: 20%);
$colour-midnight-350: color.scale($colour-midnight-300, $lightness: -10%);

// Colours
$background-dirt-colour: rgb(53 45 39);
$sky-colour: rgb(169 204 219);
$ui-colour: color.adjust($sky-colour, $lightness: 10%);
$form-element-background: $colour-turquoise-50;
$form-element-border: $colour-turquoise-200;
$button-border: 1px solid $colour-turquoise-400;
$alert-background: #fff0c0;
$alert-background-light: color.scale($alert-background, $lightness: 15%);
$alert-border-colour: #ffd755;
$alert-border: 5px solid $alert-border-colour;
$alert-text-colour: rgb(255 131 0);
$off-white: rgb(247 247 247);
$palette-background: $off-white;
$menu-bar-background: $off-white;
$bottom-background: rgb(216 211 203);
$warning-colour: rgb(220 20 20);
$segment-text: rgb(40 35 30);
$segment-hover-text: color.adjust($segment-text, $lightness: 30%);
$segment-warning-text: $warning-colour;
$empty-segment-text: fade-out($segment-text, 0.5);
$segment-hover-background: rgb(255 255 255 / 20%);
$light-text-colour: rgb(240 240 240);
$info-bubble-background: white;
$segment-width-rule: rgb(160 160 160);
$street-name-text: black;
$street-name-background: white;
$control-disabled-colour: gray;

// Third-party brand colours (e.g. social, etc) in alphabetical order
// All colors must be official (please update them as necessary)
// unless noted (e.g. if we need a special color for contrast, etc)
// If we don't have an official dark color for hover, it is
// computed with Sass

// Discord (https://discord.com/branding)
$social-discord: #5865f2;
$social-discord-hover: color.scale($social-discord, $lightness: -10%);

// Facebook (https://about.meta.com/brand/resources/facebookapp/logo)
$social-facebook: rgb(24 119 242);
$social-facebook-hover: color.scale($social-facebook, $lightness: -10%);

// GitHub (https://github.com/logos)
$social-github: #171515;
$social-github-hover: color.scale($social-github, $lightness: -10%);

// Instagram
// Difficult to reproduce their gradient, so we use colors from
// https://brandpalettes.com/instagram-color-codes/
$social-instagram: #e1306c;
$social-instagram-hover: #c13584;

// Mastodon (https://joinmastodon.org/branding)
$social-mastodon: #6364ff;
$social-mastodon-hover: #563acc;

// Twitter (https://about.twitter.com/en/who-we-are/brand-toolkit)
$social-twitter: #4a99e9;
$social-twitter-hover: color.scale($social-twitter, $lightness: -10%);

// Layered UI box shadows
$light-box-shadow: 0 0 14px 0 rgb(0 0 0 / 7.5%);
$medium-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
$heavy-box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);

// Design
$street-name-gallery-size: 0.5;
$info-bubble-button-size: 30px;

// Typography
$font-family: "Rubik Variable", system-ui, sans-serif;
$font-size-base: 13px;
$header-font-family: "Manrope Variable", system-ui, sans-serif;

// Timing
$segment-switching-time: 250ms;
$skybox-transition: 500ms ease;

// Z-INDEX SCALE
$z-index-01: 100;
$z-index-02: 200;
$z-index-03: 300;
$z-index-04: 400;
$z-index-05: 500;
$z-index-06: 600;
$z-index-07: 700;
$z-index-08: 800;
$z-index-09: 900;
$z-index-10: 1000;

// Z-INDEX COMPONENTS
// Variables are assigned to scale, above.
// These are kept here so you can quickly ascertain
// the hierarchy of elements.
// They are also named with the scale position so that
// when they are referenced in other CSS files, their
// z-scale position is also obvious at a glance.
// Between scale positions, one can fine-tune placement
// by adding a +number to the defined scale.
// Please note, the z-index scale does not defeat limitations
// imposed by stacking contexts.
$z-01-main-screen: $z-index-01;
$z-01-street-section: $z-index-01;
$z-01-foreground: $z-index-01;
$z-02-segment-focused: $z-index-02;
$z-02-palette: $z-index-02;
$z-02-menu-bar: $z-index-02;
$z-03-street-name: $z-index-03;
$z-03-gallery-message: $z-index-03;
$z-05-welcome: $z-index-05;
$z-06-info-bubble: $z-index-06;
$z-06-drag-handle: $z-index-06;
$z-07-street-scroll: $z-index-07;
$z-07-toasts: $z-index-07;
$z-07-trashcan: $z-index-07;
$z-07-resize-guide: $z-index-07;
$z-07-debug-hover-polygon: $z-index-07;
$z-07-sky-picker: $z-index-07 + 50;
$z-07-menu: $z-index-07 + 75;
$z-08-dialog-box-backdrop: $z-index-08;
$z-08-gallery-shield: $z-index-08;
$z-08-notification-bar: $z-index-08;
$z-09-gallery: $z-index-09;
$z-09-dialog-box: $z-index-09;
$z-09-debug: $z-index-09;

// Blocking overlays
$z-09-loading: $z-index-09;
$z-09-error: $z-index-09;
$z-09-blocking-shield: $z-index-09;
$z-10-flash-border: $z-index-10;
$z-10-switch-away: $z-index-10;
$z-10-print: $z-index-10;
