@use "sass:color";

// Dimensions
$tile-size: 12px;
$canvas-height: 480px;
$canvas-ground: 35px;
$canvas-baseline: $canvas-height - $canvas-ground + 150px;
$gallery-height: 180px;
$thumbnail-width: 180px;
$thumbnail-height: 110px;
$building-space: 360px;
// $left-right-inset: 50px;
// $menu-side-inset: $left-right-inset - 20px;
// $border-radius: 4px; // Deprecated. Use the following instead.
// $border-radius-small: 2px;
// $border-radius-medium: 4px;
// $border-radius-large: 6px;
// $border-radius-pill: 999em; // because 50% creates ovals, not pills
$breakpoint-md: 768px;

// Brand colours
$colour-emerald-700: rgb(9 63 20);
$colour-emerald-600: rgb(31 114 52);
$colour-emerald-500: rgb(26 145 78);
$colour-emerald-400: rgb(91 193 125);
$colour-emerald-300: rgb(147 219 169);
$colour-emerald-200: rgb(200 237 209);
$colour-emerald-100: rgb(231 247 234);
$colour-turquoise-700: rgb(21 68 71);
$colour-turquoise-600: rgb(48 108 114);
$colour-turquoise-500: rgb(82 162 175);
$colour-turquoise-400: rgb(137 193 206);
$colour-turquoise-300: rgb(193 235 247);
$colour-turquoise-200: rgb(220 243 249);
$colour-turquoise-100: rgb(235 249 252);
$colour-copper-700: rgb(86 34 17);
$colour-copper-600: rgb(137 69 40);
$colour-copper-500: rgb(181 109 72);
$colour-copper-400: rgb(216 141 100);
$colour-copper-300: rgb(248 184 144);
$colour-copper-200: rgb(249 213 192);
$colour-copper-100: rgb(249 238 232);
$colour-midnight-700: rgb(24 37 73);
$colour-midnight-600: rgb(53 67 119);
$colour-midnight-500: rgb(83 100 145);
$colour-midnight-400: rgb(123 139 173);
$colour-midnight-300: rgb(166 178 200);
$colour-midnight-200: rgb(212 219 232);
$colour-midnight-100: rgb(230 235 244);
// $colour-turquoise-50: color.scale($colour-turquoise-100, $lightness: 20%);
$colour-turquoise-150: color.scale($colour-turquoise-200, $lightness: 20%);
$colour-turquoise-225: color.scale($colour-turquoise-200, $lightness: -5%);
$colour-turquoise-250: color.scale($colour-turquoise-200, $lightness: -10%);
$colour-turquoise-350: color.scale($colour-turquoise-300, $lightness: -10%);
$colour-turquoise-425: color.scale($colour-turquoise-400, $lightness: -5%);
$colour-turquoise-450: color.scale($colour-turquoise-400, $lightness: -10%);
$colour-emerald-150: color.scale($colour-emerald-200, $lightness: 20%);
$colour-emerald-350: color.scale($colour-emerald-300, $lightness: -10%);
$colour-copper-150: color.scale($colour-copper-200, $lightness: 20%);
$colour-copper-350: color.scale($colour-copper-300, $lightness: -10%);
$colour-midnight-150: color.scale($colour-midnight-200, $lightness: 20%);
$colour-midnight-350: color.scale($colour-midnight-300, $lightness: -10%);

// Colours
// commenting out variables replaced by css custom properties so that
// properties can retain sort order after it's all ported
// $background-dirt-colour: rgb(53 45 39);
$sky-colour: rgb(169 204 219);
$ui-colour: color.adjust($sky-colour, $lightness: 10%);
// $form-element-background: $colour-turquoise-50;
// $form-element-border: $colour-turquoise-200;
// $button-border: 1px solid $colour-turquoise-400;
// $alert-background: #fff0c0;
// $alert-border-colour: #ffd755;
// $alert-border: 5px solid $alert-border-colour;
// $alert-text-colour: rgb(255 131 0);
// $off-white: rgb(247 247 247);
// $bottom-background: rgb(216 211 203);
// $warning-colour: rgb(220 20 20);
// $segment-text: rgb(40 35 30);
// $segment-hover-background: rgb(255 255 255 / 20%);
// $info-bubble-background: white;

:root {
  // Dimensions
  --left-right-inset: 50px;
  --menu-side-inset: calc(var(--left-right-inset) - 20px);
  --border-radius-small: 2px;
  --border-radius-medium: 4px;
  --border-radius-large: 6px;
  --border-radius-pill: 999em; // because 50% creates ovals, not pills
  --border-radius: var(--border-radius-medium); // Alias
  --breakpoint-md: 768px;

  // Brand colors
  --color-emerald-700: rgb(9 63 20);
  --color-emerald-600: rgb(31 114 52);
  --color-emerald-500: rgb(26 145 78);
  --color-emerald-400: rgb(91 193 125);
  --color-emerald-300: rgb(147 219 169);
  --color-emerald-200: rgb(200 237 209);
  --color-emerald-100: rgb(231 247 234);
  --color-turquoise-700: rgb(21 68 71);
  --color-turquoise-600: rgb(48 108 114);
  --color-turquoise-500: rgb(82 162 175);
  --color-turquoise-400: rgb(137 193 206);
  --color-turquoise-300: rgb(193 235 247);
  --color-turquoise-200: rgb(220 243 249);
  --color-turquoise-100: rgb(235 249 252);
  --color-copper-700: rgb(86 34 17);
  --color-copper-600: rgb(137 69 40);
  --color-copper-500: rgb(181 109 72);
  --color-copper-400: rgb(216 141 100);
  --color-copper-300: rgb(248 184 144);
  --color-copper-200: rgb(249 213 192);
  --color-copper-100: rgb(249 238 232);
  --color-midnight-700: rgb(24 37 73);
  --color-midnight-600: rgb(53 67 119);
  --color-midnight-500: rgb(83 100 145);
  --color-midnight-400: rgb(123 139 173);
  --color-midnight-300: rgb(166 178 200);
  --color-midnight-200: rgb(212 219 232);
  --color-midnight-100: rgb(230 235 244);

  --color-turquoise-50: color-mix(
    in oklch,
    white 25%,
    var(--color-turquoise-100)
  );

  // Misc colors
  --background-dirt-color: rgb(53 45 39);
  --form-element-background: var(--color-turquoise-50);
  --form-element-border: var(--color-turquoise-200);
  --button-border: 1px solid var(--color-turquoise-400);
  --alert-background: #fff0c0;
  --alert-border-color: #ffd755;
  --alert-border: 5px solid --var(--alert-border-color);
  --alert-text-color: rgb(255 131 0);
  --off-white: rgb(247 247 247);
  --bottom-background: rgb(216 211 203);
  --warning-color: rgb(220 20 20);
  --segment-text: rgb(40 35 30);
  --segment-hover-background: rgb(255 255 255 / 20%);
  --info-bubble-background: white; // TODO: rename

  // Third-party brand colors (e.g. social, etc) in alphabetical order
  // All colors must be official (please update them as necessary)
  // unless noted (e.g. if we need a special color for contrast, etc)
  // If there isn't an official dark color for hover, it is computed

  // Note: color-mix() is a draft specification.
  // https://drafts.csswg.org/css-color-5

  // Discord (https://discord.com/branding)
  --social-discord: #5865f2;
  --social-discord-hover: color-mix(in oklch, black 10%, var(--social-discord));

  // Facebook (https://about.meta.com/brand/resources/facebookapp/logo)
  --social-facebook: rgb(24 119 242);
  --social-facebook-hover: color-mix(
    in oklch,
    black 10%,
    var(--social-facebook)
  );

  // GitHub (https://github.com/logos)
  --social-github: #171515;
  --social-github-hover: color-mix(in oklch, black 10%, var(--social-github));

  // Instagram
  // Difficult to reproduce their gradient, so we use colors from
  // https://brandpalettes.com/instagram-color-codes/
  --social-instagram: #e1306c;
  --social-instagram-hover: #c13584;

  // Mastodon (https://joinmastodon.org/branding)
  --social-mastodon: #6364ff;
  --social-mastodon-hover: #563acc;

  // Twitter (https://about.twitter.com/en/who-we-are/brand-toolkit)
  --social-twitter: #4a99e9;
  --social-twitter-hover: color-mix(in oklch, black 10%, var(--social-twitter));

  // Layered UI box shadows
  --light-box-shadow: 0 0 14px 0 rgb(0 0 0 / 7.5%);
  --medium-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  --heavy-box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%); // UNUSED
}

// Design
$street-name-gallery-size: 0.5;

:root {
  // Typography
  --font-family: "Rubik Variable", system-ui, sans-serif;
  --font-size-base: 13px;
  --header-font-family: "Manrope Variable", system-ui, sans-serif;

  // Timing
  --segment-switching-time: 250ms;
  --skybox-transition: 500ms ease;

  // Z-INDEX SCALE
  --z-index-01: 100;
  --z-index-02: 200;
  --z-index-03: 300;
  --z-index-04: 400;
  --z-index-05: 500;
  --z-index-06: 600;
  --z-index-07: 700;
  --z-index-08: 800;
  --z-index-09: 900;
  --z-index-10: 1000;

  // Z-INDEX COMPONENTS
  // Variables are assigned to scale, above.
  // These are kept here so you can quickly ascertain
  // the hierarchy of elements.
  // They are also named with the scale position so that
  // when they are referenced in other CSS files, their
  // z-scale position is also obvious at a glance.
  // Between scale positions, one can fine-tune placement
  // by adding a +number to the defined scale.
  // Please note, the z-index scale does not defeat limitations
  // imposed by stacking contexts.
  --z-01-main-screen: var(--z-index-01);
  --z-01-street-section: var(--z-index-01);
  --z-01-foreground: var(--z-index-01);
  --z-02-segment-focused: var(--z-index-02);
  --z-02-palette: var(--z-index-02);
  --z-02-menu-bar: var(--z-index-02);
  --z-03-street-name: var(--z-index-03);
  --z-03-gallery-message: var(--z-index-03);
  --z-05-welcome: var(--z-index-05);
  --z-06-info-bubble: var(--z-index-06);
  --z-06-drag-handle: var(--z-index-06);
  --z-07-street-scroll: var(--z-index-07);
  --z-07-toasts: var(--z-index-07);
  --z-07-trashcan: var(--z-index-07);
  --z-07-resize-guide: var(--z-index-07);
  --z-07-debug-hover-polygon: var(--z-index-07);
  --z-07-sky-picker: calc(var(--z-index-07) + 50);
  --z-07-menu: calc(var(--z-index-07) + 75);
  --z-08-dialog-box-backdrop: var(--z-index-08);
  --z-08-gallery-shield: var(--z-index-08);
  --z-08-notification-bar: var(--z-index-08);
  --z-09-gallery: var(--z-index-09);
  --z-09-dialog-box: var(--z-index-09);
  --z-09-debug: var(--z-index-09);

  // Blocking overlays
  --z-09-loading: var(--z-index-09);
  --z-09-error: var(--z-index-09);
  --z-09-blocking-shield: var(--z-index-09);
  --z-10-flash-border: var(--z-index-10);
  --z-10-switch-away: var(--z-index-10);
  --z-10-print: var(--z-index-10);
}
