.menus-container {
  position: absolute;
  inset: 35px 0 0;
  pointer-events: none;
  z-index: var(--z-07-menu);

  /* Required in Firefox to get perspective to work on menus */
  transform-style: preserve-3d;
}

.menus-active {
  pointer-events: auto;
}
