.menu-avatar {
  position: relative;
  padding-left: calc(1.25em + 20px) !important;
}

.menu-avatar .avatar {
  position: absolute;
  left: 0.5em;
}

.menu-avatar-badge {
  margin-left: 0.35em;
  vertical-align: -0.175em; /* Tweak to balance alignment with username */

  [dir="rtl"] & {
    margin-left: 0;
    margin-right: 0.35em;
  }
}

.menu-avatar-admin {
  color: #ffb010 !important;
}

/* Styles for this element are cribbed from FontAwesome equivalent */
.menu-avatar-subscriber {
  display: inline-block;
  font-size: inherit;
  height: 1em;
}
