@use "sass:color";
@import "../../styles/variables";
@import "../../styles/mixins";

$menu-bar-text-color: $segment-text;
$menu-bar-text-color-hover: color.adjust($ui-colour, $lightness: -30%);
$menu-bar-text-color-active: color.adjust($ui-colour, $lightness: -40%);
$menu-bar-border-radius: $border-radius;
$menu-bar-box-shadow: $light-box-shadow;

.menu-bar {
  z-index: $z-02-menu-bar;
  display: block;
  position: absolute;
  left: $menu-side-inset;
  right: $menu-side-inset;
  top: 0;
  border-bottom-left-radius: $menu-bar-border-radius;
  border-bottom-right-radius: $menu-bar-border-radius;
  background: $menu-bar-background;
  background-clip: padding-box;
  box-shadow: $menu-bar-box-shadow;
  user-select: none;
  touch-action: none;

  // Extra space above the menu bar which pans down when the gallery is open
  &::before {
    content: "";
    position: absolute;
    top: -150px;
    width: 100%;
    height: 150px;
    background-color: $menu-bar-background;
  }

  body.read-only & {
    display: none;
  }

  ul {
    display: inline-block;
    list-style: none;
    padding: 3px 1em;
    margin: 0;
    line-height: 32px;
    color: $menu-bar-text-color;
  }

  li {
    display: inline-block;
    white-space: nowrap;
  }

  li + li {
    margin-left: 0.25em;

    [dir="rtl"] & {
      margin-right: 0.25em;
      margin-left: 0;
    }
  }

  a {
    @include tap-highlight-color(transparent);

    display: block;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    color: inherit;

    &:hover {
      color: $menu-bar-text-color-hover;
    }

    &:active {
      color: $menu-bar-text-color-active;
    }
  }

  button.menu-attached {
    @include tap-highlight-color(transparent);

    appearance: none;
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    text-rendering: optimizeLegibility;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    line-height: 24px;
    padding: 0 0.75em;

    &::after {
      content: "▼";
      display: inline-block;
      padding-left: 0.25em;
      transform: scale(0.75, 0.5);

      [dir="rtl"] & {
        padding-right: 0.25em;
        padding-left: 0;
      }
    }

    &:hover {
      color: $menu-bar-text-color-hover;
      background-color: transparent;
    }

    &:active {
      color: $menu-bar-text-color-active;
    }
  }
}

.menu-bar-right {
  float: right;
  padding-right: 0.25em !important;
  padding-left: 0.25em !important;

  [dir="rtl"] & {
    float: left;
  }
}

.menu-bar-title {
  margin-right: 0.25em;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
    display: none;
  }

  .menu-bar-logo {
    width: 112px;
    position: relative;
    top: 1px;
  }
}
