.rain-canvas {
  position: absolute;
  width: 100%;
  height: calc(100% - 70px); /* 70px is a rough number */
  pointer-events: none;
  transition: top 500ms ease-in-out;

  /* z-index above other sky elements, but below menu */
  z-index: 150;
}
