/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* Brand colors */
  --color-emerald-100: rgb(219 248 220);
  --color-emerald-200: rgb(203 246 213);
  --color-emerald-300: rgb(158 244 182);
  --color-emerald-400: rgb(117 228 153);
  --color-emerald-500: rgb(91 193 125);
  --color-emerald-600: rgb(81 173 112);
  --color-emerald-700: rgb(65 141 90);
  --color-emerald-800: rgb(47 105 66);
  --color-emerald-900: rgb(28 68 41);
  --color-turquoise-100: rgb(222 243 249);
  --color-turquoise-200: rgb(210 240 248);
  --color-turquoise-300: rgb(193 235 247);
  --color-turquoise-400: rgb(116 217 244);
  --color-turquoise-500: rgb(71 195 225);
  --color-turquoise-600: rgb(59 166 192);
  --color-turquoise-700: rgb(46 135 156);
  --color-turquoise-800: rgb(33 100 117);
  --color-turquoise-900: rgb(18 65 76);
  --color-copper-100: rgb(250 235 226);
  --color-copper-200: rgb(250 229 217);
  --color-copper-300: rgb(249 212 190);
  --color-copper-400: rgb(248 184 144);
  --color-copper-500: rgb(249 148 77);
  --color-copper-600: rgb(223 119 36);
  --color-copper-700: rgb(182 96 28);
  --color-copper-800: rgb(137 70 17);
  --color-copper-900: rgb(90 44 9);
  --color-midnight-100: rgb(237 238 242);
  --color-midnight-200: rgb(231 233 238);
  --color-midnight-300: rgb(216 220 229);
  --color-midnight-400: rgb(194 201 216);
  --color-midnight-500: rgb(167 177 199);
  --color-midnight-600: rgb(123 139 173);
  --color-midnight-700: rgb(104 122 162);
  --color-midnight-800: rgb(67 89 139);
  --color-midnight-900: rgb(41 57 94);

  --ifm-color-primary: var(--color-emerald-600);
  --ifm-color-primary-dark: var(--color-emerald-700);
  --ifm-color-primary-darker: var(--color-emerald-800);
  --ifm-color-primary-darkest: var(--color-emerald-900);
  --ifm-color-primary-light: var(--color-emerald-400);
  --ifm-color-primary-lighter: var(--color-emerald-300);
  --ifm-color-primary-lightest: var(--color-emerald-100);
  --ifm-code-font-size: 95%;

  --streetmix-font: "Manrope Variable";
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar__title,
.hero__title {
  font-family: var(--streetmix-font), system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
footer {
  font-family: var(--streetmix-font), system-ui, sans-serif;
}

html[data-theme="light"] .navbar__title {
  color: var(--color-emerald-700);
}

html[data-theme="dark"] .navbar__title {
  color: var(--color-emerald-400);
}

footer.footer--dark {
  background-color: #182549;
}

.footer__title {
  font-family: var(--streetmix-font), system-ui, sans-serif;
}

/* I like breathing room down there */
.footer__bottom {
  margin: 4em auto 2em;
}

.gsoc-apply-container {
  text-align: center;
  margin: 1em 0;
}

.gsoc-apply-button {
  width: 80%;
  padding: 1em;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  background-color: #5b9dbd;
  border: 0;
  color: white !important;
  font-size: 1.2em;
  border-bottom: 2px solid #34677f;
  text-decoration: none !important;
  display: block;
  margin: 0 auto;
}

.gsoc-apply-button:active {
  border-bottom: 0;
  border-top: 2px solid white;
}

.stmx-cta-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 1em 0;
}

.stmx-cta-button {
  padding: 0.8em 4em;
  border-radius: 9999px;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid var(--color-emerald-600);
  color: var(--color-emerald-600);
  font-size: 1em;
  text-decoration: none;
  display: block;
  margin: 0 auto;
}

.stmx-cta-button:hover {
  background-color: var(--color-emerald-600);
  color: white;
  text-decoration: none;
}

.stmx-illustration-compare {
  border-collapse: separate;
  border-spacing: 1em 0;
  width: calc(100% + 2em);
  margin-left: -1em;
  margin-right: -1em;
  display: table; /* override */
}

.stmx-illustration-compare td {
  border: 0;
  padding: 0;
}

.stmx-illustration-compare tr:nth-child(2n) {
  background-color: transparent;
}

.stmx-compare-image {
  background-color: #a9ccdb;
  border-radius: 5px;
  text-align: center;
  padding: 2em !important;
}

.stmx-compare-image img {
  max-height: 500px;
}

.stmx-compare-nope {
  padding-top: 0.5em;
  margin-top: 0.75em !important;
  border-top: 10px solid;
  border-top-color: currentcolor;
  border-color: #d32f2f;
}

.stmx-compare-nope strong {
  color: #d32f2f;
}

html[data-theme="dark"] .stmx-compare-yep strong {
  color: #f42727;
}

.stmx-compare-yep {
  padding-top: 0.5em;
  margin-top: 0.75em !important;
  border-top: 10px solid;
  border-top-color: currentcolor;
  border-color: #4caf50;
}

.stmx-compare-yep strong {
  color: #2e7b32;
}

html[data-theme="dark"] .stmx-compare-yep strong {
  color: #4caf50;
}

.stmx-illustration-reference {
  max-height: 240px;
  max-width: 360px;
}

/* Illustration example container */
.stmx-illustration-container {
  padding: 2em;
  background-color: whitesmoke;
  margin-bottom: 1em;
  border-radius: 5px;
  text-align: center;
}

html[data-theme="dark"] .stmx-illustration-container {
  background-color: #555;
}

.stmx-illustration-small img {
  max-height: 50px;
}

.stmx-swatch-group > div {
  margin-right: 1em;
  margin-bottom: 1em;
}

.stmx-color-swatch {
  width: 120px;
  height: 120px;
  padding: 0.75em;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  word-wrap: normal; /* Overrides body */
}

.stmx-color-swatch strong {
  width: 1em;
  display: inline-block;
}

.stmx-color-swatch .line-block {
  line-height: 1.4;
  margin-bottom: 0 !important; /* Overrides `.rst-content .line-block` */
  flex-grow: 1;
}

.stmx-color-swatch p,
.stmx-color-swatch .line {
  font-size: 0.75em;
}

.stmx-color-swatch p {
  margin-bottom: 0;
  line-height: 1;
}

.stmx-color-swatch-table {
  width: 100%;
}

.stmx-color-swatch-label {
  font-weight: 550;
}

.stmx-color-skintone-5 {
  background-color: #553f37;
  color: white;
}

.stmx-color-skintone-4 {
  background-color: #735a4c;
  color: white;
}

.stmx-color-skintone-3 {
  background-color: #aa8b7e;
  color: white;
}

.stmx-color-skintone-2 {
  background-color: #ceac98;
  color: black;
}

.stmx-color-skintone-1 {
  background-color: #e1c5b5;
  color: black;
}

.stmx-color-beige-4 {
  background-color: #cead80;
  color: black;
}

.stmx-color-beige-3 {
  background-color: #e0cea8;
  color: black;
}

.stmx-color-beige-2 {
  background-color: #ecdbb1;
  color: black;
}

.stmx-color-beige-1 {
  background-color: #f6f1e1;
  color: black;
}

.stmx-color-greige-3 {
  background-color: #d8d3cb;
  color: black;
}

.stmx-color-greige-2 {
  background-color: #e7e6de;
  color: black;
}

.stmx-color-greige-1 {
  background-color: #f5f3e9;
  color: black;
}

.stmx-color-green-3 {
  background-color: #35813f;
  color: white;
}

.stmx-color-green-2 {
  background-color: #679a45;
  color: white;
}

.stmx-color-green-1 {
  background-color: #89ba6a;
  color: black;
}

.stmx-color-brown-4 {
  background-color: #352d27;
  color: white;
}

.stmx-color-brown-3 {
  background-color: #645849;
  color: white;
}

.stmx-color-brown-2 {
  background-color: #7c705a;
  color: white;
}

.stmx-color-brown-1 {
  background-color: #988a74;
  color: white;
}

.stmx-color-grayscale-5 {
  background-color: #2a2b2a;
  color: white;
}

.stmx-color-grayscale-4 {
  background-color: #5c5e5f;
  color: white;
}

.stmx-color-grayscale-3 {
  background-color: #c1bebb;
  color: black;
}

.stmx-color-grayscale-2 {
  background-color: #e4e2dc;
  color: black;
}

.stmx-color-grayscale-1 {
  background-color: #f4f2ed;
  color: black;
}

.stmx-color-indigo-3 {
  background-color: #252947;
  color: white;
}

.stmx-color-indigo-2 {
  background-color: #313156;
  color: white;
}

.stmx-color-indigo-1 {
  background-color: #494a72;
  color: white;
}

.stmx-color-blue-3 {
  background-color: #234c6b;
  color: white;
}

.stmx-color-blue-2 {
  background-color: #376489;
  color: white;
}

.stmx-color-blue-1 {
  background-color: #4f83a3;
  color: white;
}

.stmx-color-red-4 {
  background-color: #720e1a;
  color: white;
}

.stmx-color-red-3 {
  background-color: #ae2025;
  color: white;
}

.stmx-color-red-2 {
  background-color: #ef9c74;
  color: black;
}

.stmx-color-red-1 {
  background-color: #ffeecc;
  color: black;
}

.stmx-color-orange {
  background-color: #e7673c;
  color: black;
}

.stmx-color-yellow-2 {
  background-color: #f8bb1c;
  color: black;
}

.stmx-color-yellow-1 {
  background-color: #fcd157;
  color: black;
}

.stmx-color-bright-blue {
  background-color: #109ba8;
  color: black;
}

.stmx-brand-color-emerald-100 {
  background-color: var(--color-emerald-100);
  color: var(--color-emerald-900);
}

.stmx-brand-color-emerald-200 {
  background-color: var(--color-emerald-200);
  color: var(--color-emerald-900);
}

.stmx-brand-color-emerald-300 {
  background-color: var(--color-emerald-300);
  color: var(--color-emerald-900);
}

.stmx-brand-color-emerald-400 {
  background-color: var(--color-emerald-400);
  color: var(--color-emerald-900);
}

.stmx-brand-color-emerald-500 {
  background-color: var(--color-emerald-500);
  color: var(--color-emerald-900);
}

.stmx-brand-color-emerald-600 {
  background-color: var(--color-emerald-600);
  color: var(--color-emerald-100);
}

.stmx-brand-color-emerald-700 {
  background-color: var(--color-emerald-700);
  color: var(--color-emerald-100);
}

.stmx-brand-color-emerald-800 {
  background-color: var(--color-emerald-800);
  color: var(--color-emerald-100);
}

.stmx-brand-color-emerald-900 {
  background-color: var(--color-emerald-900);
  color: var(--color-emerald-100);
}

.stmx-brand-color-turquoise-100 {
  background-color: var(--color-turquoise-100);
  color: var(--color-turquoise-900);
}

.stmx-brand-color-turquoise-200 {
  background-color: var(--color-turquoise-200);
  color: var(--color-turquoise-900);
}

.stmx-brand-color-turquoise-300 {
  background-color: var(--color-turquoise-300);
  color: var(--color-turquoise-900);
}

.stmx-brand-color-turquoise-400 {
  background-color: var(--color-turquoise-400);
  color: var(--color-turquoise-900);
}

.stmx-brand-color-turquoise-500 {
  background-color: var(--color-turquoise-500);
  color: var(--color-turquoise-900);
}

.stmx-brand-color-turquoise-600 {
  background-color: var(--color-turquoise-600);
  color: var(--color-turquoise-100);
}

.stmx-brand-color-turquoise-700 {
  background-color: var(--color-turquoise-700);
  color: var(--color-turquoise-100);
}

.stmx-brand-color-turquoise-800 {
  background-color: var(--color-turquoise-800);
  color: var(--color-turquoise-100);
}

.stmx-brand-color-turquoise-900 {
  background-color: var(--color-turquoise-900);
  color: var(--color-turquoise-100);
}

.stmx-brand-color-copper-100 {
  background-color: var(--color-copper-100);
  color: var(--color-copper-900);
}

.stmx-brand-color-copper-200 {
  background-color: var(--color-copper-200);
  color: var(--color-copper-900);
}

.stmx-brand-color-copper-300 {
  background-color: var(--color-copper-300);
  color: var(--color-copper-900);
}

.stmx-brand-color-copper-400 {
  background-color: var(--color-copper-400);
  color: var(--color-copper-900);
}

.stmx-brand-color-copper-500 {
  background-color: var(--color-copper-500);
  color: var(--color-copper-900);
}

.stmx-brand-color-copper-600 {
  background-color: var(--color-copper-600);
  color: var(--color-copper-100);
}

.stmx-brand-color-copper-700 {
  background-color: var(--color-copper-700);
  color: var(--color-copper-100);
}

.stmx-brand-color-copper-800 {
  background-color: var(--color-copper-800);
  color: var(--color-copper-100);
}

.stmx-brand-color-copper-900 {
  background-color: var(--color-copper-900);
  color: var(--color-copper-100);
}

.stmx-brand-color-midnight-100 {
  background-color: var(--color-midnight-100);
  color: var(--color-midnight-900);
}

.stmx-brand-color-midnight-200 {
  background-color: var(--color-midnight-200);
  color: var(--color-midnight-900);
}

.stmx-brand-color-midnight-300 {
  background-color: var(--color-midnight-300);
  color: var(--color-midnight-900);
}

.stmx-brand-color-midnight-400 {
  background-color: var(--color-midnight-400);
  color: var(--color-midnight-900);
}

.stmx-brand-color-midnight-500 {
  background-color: var(--color-midnight-500);
  color: var(--color-midnight-900);
}

.stmx-brand-color-midnight-600 {
  background-color: var(--color-midnight-600);
  color: var(--color-midnight-100);
}

.stmx-brand-color-midnight-700 {
  background-color: var(--color-midnight-700);
  color: var(--color-midnight-100);
}

.stmx-brand-color-midnight-800 {
  background-color: var(--color-midnight-800);
  color: var(--color-midnight-100);
}

.stmx-brand-color-midnight-900 {
  background-color: var(--color-midnight-900);
  color: var(--color-midnight-100);
}
