.slice-controls {
  --info-bubble-header-background-color: var(--color-turquoise-200);
  --info-bubble-button-size: 30px;
  --info-bubble-border-radius: var(--border-radius);

  min-width: 275px;
  max-width: calc(100vw - 10px);
  height: 120px;
  /* opacity: 0; */
  background: var(--info-bubble-background);
  border-radius: var(--info-bubble-border-radius);
  box-shadow: var(--light-box-shadow);
  /* transition:
    transform 100ms,
    margin-top 150ms,
    height 150ms,
    opacity 150ms; */
  /* transform: rotateY(0); */
  perspective: 1200px;
  z-index: var(--z-06-info-bubble);
}

.slice-controls {
  fill: var(--info-bubble-background);
}

.floating-ui-wrapper {
  position: absolute;
  width: max-content;
  top: 0;
  left: 0;
}
