@import "../../styles/variables";

.radio-group-item {
  display: flex;
  align-items: center;
  margin: 0.8em 0;
}

.radio-group-radio {
  position: relative;
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: white;
  box-shadow: 0 0 0 1px $colour-turquoise-500;
  transition: background-color 120ms;
  border-radius: 9999px;

  --webkit-tap-highlight-color: rgba(0 0 0 / 0%);

  &:focus,
  &:active:not(:disabled) {
    box-shadow: 0 0 0 2px $colour-turquoise-500;
  }

  // Override stock button hover
  &:hover {
    background-color: white;
  }

  &:disabled {
    box-shadow: 0 0 0 1px lightgray;

    & + label {
      color: darkgray;
    }
  }

  + label {
    margin-left: 0.75em;
    user-select: none;

    [dir="rtl"] & {
      margin-left: 0;
      margin-right: 0.75em;
    }
  }
}

.radio-group-indicator {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &::after {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: $colour-turquoise-500;
  }
}
