@import url(https://fonts.googleapis.com/css?family=Montserrat:400, 600);

#illustrations .wy-table-responsive table td,
#illustrations .wy-table-responsive table th {
  white-space: normal !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.rst-content .toctree-wrapper p.caption,
legend {
  font-family: "Montserrat", sans-serif;
}

/* Slight indent and radius to admonition blocks */
.wy-alert,
.rst-content .note,
.rst-content .attention,
.rst-content .caution,
.rst-content .danger,
.rst-content .error,
.rst-content .hint,
.rst-content .important,
.rst-content .tip,
.rst-content .warning,
.rst-content .seealso,
.rst-content .admonition-todo,
.rst-content .admonition {
  border-radius: 5px;
  overflow: hidden;
}

/* Hide side nav version tag -- we're always publishing "latest" */
.wy-side-nav-search > div.version {
  display: none;
}

/* Revise sidebar to a flex container and expand content menu */
.wy-side-scroll {
  display: flex;
  flex-direction: column;
}

.wy-menu-vertical {
  flex-grow: 1;
}

/* Expand content to always be full height of screen */
.wy-nav-content-wrap {
  min-height: 100vh;
}

.wy-nav-content {
  padding: 0 !important; /* Also override mobile styles */
}

.wy-nav-content .rst-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1.618em 3.236em;
}

@media screen and (max-width: 768px) {
  .wy-nav-content .rst-content {
    padding: 1.618em;
  }
}

.wy-nav-content .rst-content .document {
  flex-grow: 1;
}

/* Documentation front page logo */
.stmx-logo {
  max-width: 400px !important;
  margin: 3em auto;
  display: block;
}

/* Illustration comparison container
   Needs to override theme table styles */
.stmx-illustration-compare-container table {
  border-collapse: separate !important;
  border-spacing: 1em 0 !important;
  width: calc(100% + 2em);
  margin-left: -1em;
  margin-right: -1em;
}
.stmx-illustration-compare-container table {
  border: 0 !important;
}

.stmx-illustration-compare-container .wy-table-responsive {
  overflow: hidden;
}

.stmx-illustration-compare-container table td {
  border: 0 !important;
  padding: 0 !important;
}

.stmx-illustration-compare-container table tr:first-child img {
  max-height: 400px;
  margin: 1em;
  margin-bottom: 1em !important; /* Overrides `.rst-content table.docutils td .last` */
}

.stmx-illustration-compare-container table tr:first-child > td {
  background-color: #a9ccdb !important;
  border-radius: 5px;
}

.stmx-illustration-compare-container table tr:last-child > td {
  padding-top: 1em !important;
  vertical-align: top;
}

.stmx-compare-nope {
  padding-top: 0.5em;
  border-top: 10px solid;
  border-color: #d32f2f !important;
  line-height: 24px !important;
}

.stmx-compare-nope strong {
  color: #d32f2f;
}

.stmx-compare-yep {
  padding-top: 0.5em;
  border-top: 10px solid;
  border-color: #4caf50 !important;
}

.stmx-compare-yep strong {
  color: #2e7b32;
}

.stmx-compare-nope p,
.stmx-compare-yep p {
  line-height: 24px !important;
}

/* Illustration example container */
.stmx-illustration-container {
  padding: 2em;
  background-color: whitesmoke;
  margin-bottom: 24px; /* Match sphinx theme element margin */
  border-radius: 5px;
}

/* Set manual heights for these images, otherwise the default theme
   will override it with "auto". Setting height options on the `image`
   directive will cause it to be linked for some reason, so we apply the
   sizing through CSS to avoid this extra markup */
.stmx-illustration-small img {
  height: 36px;
}

.section {
  clear: both;
}

.stmx-color-swatch-container {
  width: 100%;
}

.stmx-color-swatch {
  width: 120px;
  height: 120px;
  padding: 0.75em;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
}

.stmx-color-swatch strong {
  width: 1em;
  display: inline-block;
}

.stmx-color-swatch .line-block {
  line-height: 1.4;
  margin-bottom: 0 !important; /* Overrides `.rst-content .line-block` */
  flex-grow: 1;
}

.stmx-color-swatch p,
.stmx-color-swatch .line {
  font-size: 0.75em;
}

.stmx-color-swatch p {
  margin-bottom: 0;
  line-height: 1;
}

.stmx-color-swatch-table {
  width: 100%;
}

.stmx-color-swatch-label {
  font-weight: bold;
}

.stmx-color-skintone-5 {
  background-color: #553f37;
  color: white;
}

.stmx-color-skintone-4 {
  background-color: #735a4c;
  color: white;
}

.stmx-color-skintone-3 {
  background-color: #aa8b7e;
  color: white;
}

.stmx-color-skintone-2 {
  background-color: #ceac98;
  color: black;
}

.stmx-color-skintone-1 {
  background-color: #e1c5b5;
  color: black;
}

.stmx-color-beige-4 {
  background-color: #cead80;
  color: black;
}

.stmx-color-beige-3 {
  background-color: #e0cea8;
  color: black;
}

.stmx-color-beige-2 {
  background-color: #ecdbb1;
  color: black;
}

.stmx-color-beige-1 {
  background-color: #f6f1e1;
  color: black;
}

.stmx-color-greige-3 {
  background-color: #d8d3cb;
  color: black;
}

.stmx-color-greige-2 {
  background-color: #e7e6de;
  color: black;
}

.stmx-color-greige-1 {
  background-color: #f5f3e9;
  color: black;
}

.stmx-color-green-3 {
  background-color: #35813f;
  color: white;
}

.stmx-color-green-2 {
  background-color: #679a45;
  color: white;
}

.stmx-color-green-1 {
  background-color: #89ba6a;
  color: black;
}

.stmx-color-brown-4 {
  background-color: #352d27;
  color: white;
}

.stmx-color-brown-3 {
  background-color: #645849;
  color: white;
}

.stmx-color-brown-2 {
  background-color: #7c705a;
  color: white;
}

.stmx-color-brown-1 {
  background-color: #988a74;
  color: white;
}

.stmx-color-grayscale-5 {
  background-color: #2a2b2a;
  color: white;
}

.stmx-color-grayscale-4 {
  background-color: #5c5e5f;
  color: white;
}

.stmx-color-grayscale-3 {
  background-color: #c1bebb;
  color: black;
}

.stmx-color-grayscale-2 {
  background-color: #e4e2dc;
  color: black;
}

.stmx-color-grayscale-1 {
  background-color: #f4f2ed;
  color: black;
}

.stmx-color-indigo-3 {
  background-color: #252947;
  color: white;
}

.stmx-color-indigo-2 {
  background-color: #313156;
  color: white;
}

.stmx-color-indigo-1 {
  background-color: #494a72;
  color: white;
}

.stmx-color-blue-3 {
  background-color: #234c6b;
  color: white;
}

.stmx-color-blue-2 {
  background-color: #376489;
  color: white;
}

.stmx-color-blue-1 {
  background-color: #4f83a3;
  color: white;
}

.stmx-color-red-4 {
  background-color: #720e1a;
  color: white;
}

.stmx-color-red-3 {
  background-color: #ae2025;
  color: white;
}

.stmx-color-red-2 {
  background-color: #ef9c74;
  color: black;
}

.stmx-color-red-1 {
  background-color: #ffeecc;
  color: black;
}

.stmx-color-orange {
  background-color: #e7673c;
  color: black;
}

.stmx-color-yellow-2 {
  background-color: #f8bb1c;
  color: black;
}

.stmx-color-yellow-1 {
  background-color: #fcd157;
  color: black;
}

.stmx-color-bright-blue {
  background-color: #109ba8;
  color: black;
}

.stmx-brand-color-emerald-700 {
  background-color: #093f14;
  color: #e7f7ea;
}

.stmx-brand-color-emerald-600 {
  background-color: #1f7234;
  color: #e7f7ea;
}

.stmx-brand-color-emerald-500 {
  background-color: #1a914e;
  color: #e7f7ea;
}

.stmx-brand-color-emerald-400 {
  background-color: #5bc17d;
  color: #e7f7ea;
}

.stmx-brand-color-emerald-300 {
  background-color: #93dba9;
  color: #093f14;
}

.stmx-brand-color-emerald-200 {
  background-color: #c8edd1;
  color: #093f14;
}

.stmx-brand-color-emerald-100 {
  background-color: #e7f7ea;
  color: #093f14;
}

.stmx-brand-color-turquoise-700 {
  background-color: #154447;
  color: #ebf9fc;
}

.stmx-brand-color-turquoise-600 {
  background-color: #306c72;
  color: #ebf9fc;
}

.stmx-brand-color-turquoise-500 {
  background-color: #52a2af;
  color: #ebf9fc;
}

.stmx-brand-color-turquoise-400 {
  background-color: #89c1ce;
  color: #ebf9fc;
}

.stmx-brand-color-turquoise-300 {
  background-color: #c1ebf7;
  color: #154447;
}

.stmx-brand-color-turquoise-200 {
  background-color: #dcf3f9;
  color: #154447;
}

.stmx-brand-color-turquoise-100 {
  background-color: #ebf9fc;
  color: #154447;
}

.stmx-brand-color-copper-700 {
  background-color: #562211;
  color: #f9eee8;
}

.stmx-brand-color-copper-600 {
  background-color: #894528;
  color: #f9eee8;
}

.stmx-brand-color-copper-500 {
  background-color: #b56d48;
  color: #f9eee8;
}

.stmx-brand-color-copper-400 {
  background-color: #d88d64;
  color: #f9eee8;
}

.stmx-brand-color-copper-300 {
  background-color: #f8b890;
  color: #562211;
}

.stmx-brand-color-copper-200 {
  background-color: #f9d5c0;
  color: #562211;
}

.stmx-brand-color-copper-100 {
  background-color: #f9eee8;
  color: #562211;
}

.stmx-brand-color-midnight-700 {
  background-color: #182549;
  color: #e6ebf4;
}

.stmx-brand-color-midnight-600 {
  background-color: #354377;
  color: #e6ebf4;
}

.stmx-brand-color-midnight-500 {
  background-color: #536491;
  color: #e6ebf4;
}

.stmx-brand-color-midnight-400 {
  background-color: #7b8bad;
  color: #e6ebf4;
}

.stmx-brand-color-midnight-300 {
  background-color: #a6b2c9;
  color: #182549;
}

.stmx-brand-color-midnight-200 {
  background-color: #d4dbe8;
  color: #182549;
}

.stmx-brand-color-midnight-100 {
  background-color: #e6ebf4;
  color: #182549;
}
