@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600);

#illustrations .wy-table-responsive table td,
#illustrations .wy-table-responsive table th {
  white-space: normal !important;
}

h1, h2, h3, h4, h5, h6, .rst-content .toctree-wrapper p.caption, legend {
  font-family: 'Montserrat', sans-serif;
}

/* Hide side nav version tag -- we're always publishing "latest" */
.wy-side-nav-search > div.version {
  display: none;
}

/* Revise sidebar to a flex container and expand content menu */
.wy-side-scroll {
  display: flex;
  flex-direction: column;
}

.wy-menu-vertical {
  flex-grow: 1;
}

/* Expand content to always be full height of screen */
.wy-nav-content-wrap {
  min-height: 100vh;
}

.wy-nav-content {
  padding: 0 !important; /* Also override mobile styles */
}

.wy-nav-content .rst-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1.618em 3.236em;
}

@media screen and (max-width: 768px) {
  .wy-nav-content .rst-content {
    padding: 1.618em;
  }
}

.wy-nav-content .rst-content .document {
  flex-grow: 1;
}

/* Goofus/Gallant illustration box */
.stmx-goofus-gallant-box {
  border-collapse: separate;
  border-spacing: 1em 0;
  width: calc(100% + 2em);
  margin-left: -1em;
  margin-right: -1em;
}

/* Resets table style */
table.stmx-goofus-gallant-box td {
    border: 0;
}
.stmx-gg-left {
    width: 50%;
}
.stmx-gg-right {
    width: 50%;
}
td.stmx-gg-image {
    vertical-align: bottom !important;
}
.stmx-background-blue {
    background-color: #a9ccdb;
}
.stmx-gg-caption {
    padding: 0 !important;
  padding-top: 1em !important;
}
.stmx-gg-caption p {
    border-top: 10px solid;
  padding-top: 0.5em;
}
.stmx-guideline-nope {
    border-color: #d32f2f !important;
}
.stmx-guideline-nope strong {
    color: #d32f2f;
}
.stmx-guideline-yep {
    border-color: #4caf50 !important;
}
.stmx-guideline-yep strong {
    color: #2e7b32;
}
