@import "../../styles/variables.scss";

.sentiment-survey-container {
  position: absolute;
  z-index: 190; // Underlay menubar and street meta area
  width: 100%;
  top: 0;
  bottom: 100px; // Overlap entirety of screen to prevent interaction until dismissed
  pointer-events: none;
}

.sentiment-survey-background {
  opacity: 0;
  background: linear-gradient(rgba(23, 68, 70, 0.25) 30%, transparent 70%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 200ms ease-in;
  pointer-events: none;

  .sentiment-survey-visible & {
    opacity: 1;
    pointer-events: auto;
  }
}

.sentiment-survey-dialog {
  background-color: white;
  border-radius: $border-radius-medium;
  margin: 0 auto;
  margin-top: 160px; // Clear street meta area
  margin-bottom: 15px;
  position: relative;
  width: max-content;
  max-width: 600px;
  padding: 1.5em 3em;
  box-shadow: $medium-box-shadow;
  text-align: center;
  pointer-events: auto;

  h2 {
    margin-top: 0.5em;
    margin-bottom: 0;
    color: $colour-turquoise-600;
    font-weight: normal;

    em {
      font-style: normal;
      font-weight: bold;
    }
  }

  p:first-of-type {
    margin-top: 0;
  }

  sub {
    display: block;
    margin-bottom: 1.5em;
    color: gray;
    font-style: italic;
  }

  p:last-child {
    margin-top: 1.5em;
    margin-bottom: 0;
  }
}

.sentiment-survey-buttons {
  position: relative;

  button.sentiment-button-container {
    background: transparent;
    padding: 0 0.5em;
  }

  /* Overwrite a global hover state when button is disabled */
  button.sentiment-button-container:disabled {
    background: transparent;
  }

  .sentiment-button {
    width: 60px;
    height: 60px;
    margin: 0;
    border-radius: $border-radius-medium;
    border: 0;
    color: white;
    font-size: 2em;
    padding: 5px;
    vertical-align: middle;
    transition: transform 300ms cubic-bezier(0.5, 0, 0, 2.25), 300ms opacity;
    transform: scale(1);
    transform-origin: center center;
    opacity: 1;
  }

  button.sentiment-button-container:not([disabled]):hover .sentiment-button,
  button.sentiment-button-container:not([disabled]):focus .sentiment-button {
    transform: scale(1.2);
  }

  /* When disabled, fade out */
  button.sentiment-button-container:disabled .sentiment-button:not(.sentiment-selected) {
    opacity: 0;
  }

  .sentiment-selected {
    animation-name: tada;
    animation-duration: 1000ms;
    animation-fill-mode: both;
  }

  .sentiment-1 {
    background-color: #ff5b5b;
  }

  .sentiment-2 {
    background-color: rgb(251, 170, 56);
  }

  .sentiment-3 {
    background-color: #ffd755;
  }

  .sentiment-4 {
    background-color: rgb(130, 227, 218);
  }

  .sentiment-5 {
    background-color: $colour-emerald-400;
  }
}

.sentiment-survey-sign-in-prompt {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Modified version of `tada` from animate.css
   https://animate.style/ */
@keyframes tada {
  from {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  10%,
  20% {
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1.2, 1.2, 1.2);
  }
}
