/* TODO: Further refactoring / splitting up of these styles */

.info-bubble {
  --info-bubble-header-background-color: var(--color-turquoise-200);
  --info-bubble-button-size: 30px;
  --info-bubble-border-radius: var(--border-radius);

  position: absolute;
  min-width: 275px;
  opacity: 0;
  background: var(--info-bubble-background);
  border-radius: var(--info-bubble-border-radius);
  box-shadow: var(--light-box-shadow);
  transition:
    transform 100ms,
    margin-top 150ms,
    height 150ms,
    opacity 150ms;
  transform: rotateX(-80deg);
  perspective: 1200px;
  z-index: var(--z-06-info-bubble);
  pointer-events: none;
  touch-action: none;

  &.visible {
    opacity: 1;
    transform: rotateY(0);
    pointer-events: auto;
  }
}

.info-bubble,
.popup-controls {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: relative;
    padding: 4px 10px;
    height: calc(var(--info-bubble-button-size) + 10px);
    line-height: calc(var(--info-bubble-button-size) + 2px);
    font-size: 1.2em;
    font-weight: 500;
    color: var(--color-turquoise-900);
    background-color: var(--info-bubble-header-background-color);
    border-start-start-radius: var(--info-bubble-border-radius);
    border-start-end-radius: var(--info-bubble-border-radius);
  }

  button {
    width: var(--info-bubble-button-size);
    height: var(--info-bubble-button-size);
  }
}

.info-bubble-type-building header,
.popup-controls-boundary header {
  margin-inline-end: 140px;
  border-start-end-radius: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    inset-inline-end: -40px;
    width: 0;
    height: 0;
    border-top: 40px solid var(--info-bubble-header-background-color);
    border-inline-end: 40px solid transparent;
  }
}

.info-bubble-warnings {
  margin-top: 1px;
  border-top: 1px solid var(--color-turquoise-300);
  padding: 0.5em 1.5em 0.5em 1em;
  white-space: normal;
  color: var(--warning-color);

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 0.5em;
    text-align: center;
  }
}

.info-bubble-warning-alert {
  color: var(--alert-text-color);

  img {
    width: 1.6em;
    height: 1.6em;
    vertical-align: bottom;
    position: relative;
    top: 2px;
  }
}

.info-bubble-warning-error {
  img {
    width: 1.6em;
    height: 1.6em;
    vertical-align: bottom;
    position: relative;
    top: 1px;
  }
}
