.popup-controls {
  --info-bubble-header-background-color: var(--color-turquoise-200);
  --info-bubble-button-size: 30px;
  --info-bubble-border-radius: var(--border-radius);

  min-width: 275px;
  max-width: calc(100vw - 10px);
  background: var(--info-bubble-background);
  border-radius: var(--info-bubble-border-radius);
  box-shadow: var(--light-box-shadow);
  perspective: 1200px;
  z-index: var(--z-06-info-bubble);
  fill: var(--info-bubble-background);
}

.popup-controls-arrow.highlight {
  &.highlight {
    fill: var(--color-turquoise-100);
  }
}

.floating-ui-wrapper {
  position: absolute;
  width: max-content;
  top: 0;
  left: 0;
  perspective: 1200px;
}

/* Overrides .info-bubble */
.popup-controls-content {
  opacity: 1;

  .info-bubble-control-group {
    /* TODO refactor */
    padding-bottom: 10px;
  }
}
