@import '../../styles/variables.scss';

.segment-empty {
  position: absolute;
  pointer-events: none;
  z-index: -1;

  .name,
  .width {
    color: $empty-segment-text;
  }

  .width {
    overflow: visible;
  }
}
