@import "../../styles/variables.scss";

.segment.segment-in-palette {
  display: inline-block;
  position: relative;
  margin: 12px 0;
  height: 80px;
  top: 0;
  background-color: fade-out($sky-colour, 0.3);
  margin-right: 1px;
  transform-origin: 50% 75%;
  transition: transform 50ms !important;
}

.segment.segment-in-palette:not(.segment-disabled):hover {
  background: fade-out($sky-colour, 0.05);
  z-index: 1;

  canvas {
    transform: scale(1.15);
    transform-origin: 50% 75px;
  }
}

.segment.segment-in-palette .segment-image {
  top: 0;
}

.segment.segment-disabled {
  background: desaturate(fade-out($sky-colour, 0.3), 100%);

  canvas {
    filter: grayscale(0.8);
    opacity: 0.4;
  }

  .fa-lock {
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 2;
    color: $colour-copper-600;
  }
}
