.welcome-coastmix {
  h1 {
    display: none;
  }

  img {
    width: 80%;
    margin-top: 2em;
  }

  p {
    font-family: "Lora Variable", Georgia, serif;
    text-align: left;
  }

  .welcome-panel-buttons {
    margin-top: 2em;
    margin-bottom: 1em;
  }
}
