.feature-flag-dialog {
  max-width: 600px;
}

/* Don't wrap the Creative Commons label. But this is a long link, so only
  wrap on big screens. */
@media only screen and (width >= 640px) {
  .feature-flag-dialog ul {
    column-count: 2;
    column-gap: 2em;
  }
}

.feature-flag-dialog ul {
  padding: 0;
  list-style-type: none;
}

.feature-flag-dialog ul li {
  margin: 0;
  margin-bottom: 0.25em;
}

.feature-flag-dialog p {
  text-align: center;
}

.feature-flag-label-modified {
  font-weight: 550;
}
