:root {
  --ground-height-minimum: 235px;
}

.street-section-ground {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(var(--canvas-height));
  height: max(
    calc(50vh - (var(--canvas-height) / 2)),
    var(--ground-height-minimum)
  );
  background: var(--bottom-background);
  z-index: -2;
  pointer-events: none;
}
