#street-section-outer {
  --building-space: 360px;

  position: absolute;
  display: block;
  inset: calc(-1 * var(--gallery-height)) 0 -20px; /* Bottom inset hides the scrollbar */
  overflow: scroll hidden;
  touch-action: pan-x;

  /* Prevent overscroll from doing forward/back navigation on some browsers
     Also disable the bounce effect exposing empty space beyond section boundary */
  overscroll-behavior: none;

  [dir="rtl"] & {
    direction: ltr;
  }
}

#street-section-inner {
  position: absolute;
  display: block;
  left: 0;
  bottom: 195px;
  height: var(--canvas-height);
  user-select: none;

  body.read-only & {
    bottom: 50px;
  }
}

#street-section-editable {
  position: absolute;
  height: var(--canvas-height);
  text-align: left;
  touch-action: pan-x;
}

#street-section-canvas {
  z-index: var(--z-01-street-section);
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  margin-left: var(--building-space);
  margin-right: var(--building-space);
  height: var(--canvas-height);
}
