header.about-coastmix-header {
  display: flex;
  padding: 2rem 2rem 0.5rem;
  gap: 0.5em;

  > div {
    align-content: center;
  }

  > div:nth-child(2) {
    flex-grow: 1;
    text-align: center;
  }

  img {
    width: 200px;
  }

  img.about-coastmix-logo {
    width: 181px;
  }
}

@media only screen and (width < 800px) {
  header.about-coastmix-header {
    img {
      width: 100%;
    }
  }
}

.about-coastmix-content {
  z-index: -1;

  ul i {
    color: gray;
    font-style: normal;
  }
}
