header.about-coastmix-header {
  display: flex;
  gap: 0.5em;

  /* This is ordered differently in production so it needs higher priority */
  padding: 2rem 2rem 0.5rem !important;

  > div {
    align-content: center;
  }

  > div:nth-child(2) {
    flex-grow: 1;
    text-align: center;
  }

  img {
    max-height: 57px;
  }

  img.about-coastmix-logo {
    height: 47px;
  }
}

.about-coastmix-content {
  z-index: -1;

  ul i {
    color: gray;
    font-style: normal;
  }

  .credits-team {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1em;
  }
}

@media only screen and (width < 800px) {
  header.about-coastmix-header {
    img {
      width: 100%;
    }
  }
}

@media only screen and (width < 640px) {
  .about-coastmix-content {
    .credits-team {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
