button.scroll,
.scrollable {
  @include tap-highlight-color(transparent);

  position: absolute;
  top: 0;
  width: 25px;
  height: 40px;
  cursor: pointer;

  &[disabled] {
    opacity: 0;
    pointer-events: none;
  }
}

button.close {
  @include appearance(none);

  // Position in dialog boxes
  position: absolute;
  right: 0;
  top: 0;

  // Touch-friendly size
  width: 36px;
  height: 36px;

  // Appearance
  border: 0;
  font-size: 14px;
  background: transparent;
  color: rgb(64, 32, 32);
  cursor: pointer;
  user-select: none;

  &:hover {
    color: black;
  }
}

button,
a.button-like {
  display: inline-block !important;
  outline: none;
  border: 0;
  border-top: 1px solid darken($ui-colour, 10%);
  border-bottom: 1px solid darken($ui-colour, 10%);
  border-radius: 0; /* For Chrome 62 on Mac, which enforces a border-radius in its browser stylesheet. */
  padding-left: 10px;
  padding-right: 10px;
  background-color: mix($ui-colour, white, 50%);
  color: black;
  text-align: center;
  text-decoration: none;
  -webkit-align-items: flex-start !important;

  &:hover {
    background-color: mix($ui-colour, white, 70%);
  }

  &:active {
    background-color: mix($ui-colour, white, 95%);
  }

  &[disabled] {
    border-top-color: desaturate($ui-colour, 100%);
    border-bottom-color: desaturate($ui-colour, 100%);
    background-color: desaturate(fade-out($ui-colour, 0.7), 100%);
    cursor: auto;

    &:hover {
      background-color: desaturate(fade-out($ui-colour, 0.7), 100%);
    }
  }
}
