#error h1,
#loading h1,
#welcome h1,
.dialog-box h1,
#blocking-shield .message {
  font-size: 250%;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1.1;
  margin-top: 8px;
  margin-bottom: 12px;
}

#welcome-avatar-creator:not(.visible) {
  display: none;
}

body.phone #error,
body.phone #loading {
  font-size: 32px;
}

#error,
#loading {
  position: fixed;
  z-index: $z-09-loading;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: table;

  background: $sky-colour;
  color: black;

  font-size: 16px;

  & > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 50px;

    line-height: 1.6;
  }

  a {
    color: black;
    white-space: nowrap;
  }

  button {
    margin-top: 10px;
    font-size: 100%;
    padding: 5px 10px;
  }
}

#error {
  z-index: $z-09-error;
}

#error:not(.visible) {
  display: none;
}

#loading.hidden {
  display: none;
}

#loading-progress {
  @include appearance(none);

  display: block;
  width: 200px;
  height: 8px;
  padding: 0;
  margin: 0 auto;
  margin-top: 5px;
  border: 0;
  border-top: 1px solid darken($ui-colour, 20%);
  border-bottom: 1px solid darken($ui-colour, 20%);
  background: transparent;
  background-size: auto;
  color: $off-white;

  &::-webkit-progress-bar {
    background: transparent;
  }

  &::-webkit-progress-value {
    background: $off-white;
  }

  &::-moz-progress-bar {
    background: $off-white;
  }
}

#blocking-shield {
  z-index: $z-08-blocking-shield;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: table;

  font-size: 16px;

  background: transparent;
  color: transparent;

  & > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  &.darken,
  &.darken-immediately {
    background: fade-out($sky-colour, 0.15);
    color: black;
  }

  &.darken {
    transition: background 1500ms, color 1500ms;
  }

  &.darken-immediately {
    transition: none;
  }

  .try-again,
  .too-slow {
    margin-top: 20px;

    position: absolute;
    left: 0;
    right: 0;
    text-align: center;

    display: none;
  }

  &.show-try-again .try-again,
  &.show-too-slow .too-slow {
    display: block;
  }

  #blocking-shield-cancel {
    display: none;
  }

  &.show-cancel #blocking-shield-cancel {
    display: inline-block;
  }

  cursor: wait;

  & * {
    cursor: wait;
  }

  & button {
    cursor: auto;
  }

  &:not(.visible) {
    display: none;
  }
}

// --------------------------------------------------------

#welcome {
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  z-index: $z-05-welcome;
  text-align: center;

  user-select: none;

  pointer-events: none;

  &:not(.first-time-new-street) .first-time-new-street,
  &:not(.first-time-existing-street) .first-time-existing-street,
  &:not(.new-street) .new-street {
    display: none;
  }

  > div {
    @include box-border;

    display: inline-block;
    position: relative;
    padding: 6px 15px;
    margin: 0;
    background: white;
    text-align: center;
    font-size: 16px;
    color: rgb(64, 64, 64);
    pointer-events: auto;
  }

  button {
    font-size: 100%;
  }

  ul,
  p {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
  }

  p {
    line-height: 1.5;
    display: block;
    max-width: 700px;
  }

  li {
    display: inline-block;
    padding: 0;
    margin: 0;

    &:not(:first-child)::before {
      content: '·';
      margin: 0 5px;
      color: darken($ui-colour, 40%);
      padding-left: 0;
    }

    &:nth-child(3):not(.visible) {
      display: none;
    }
  }

  input[type='radio'] {
    display: none;
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
  }

  label {
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  input[type='radio']:checked + label {
    color: black;
    font-weight: bold;
  }

  input[type='radio']:not(:checked) + label {
    text-decoration: underline;
  }

  &:not(.visible) {
    display: none;
  }
}

.avatar {
  display: inline-block;

  background-size: 100%;
  width: 20px;
  height: 20px;
  border-top: 1px solid darken($ui-colour, 30%);
  border-bottom: 1px solid darken($ui-colour, 30%);

  margin-right: 5px;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 3px;
}

body.controls-fade-out .info-bubble {
  transition: opacity $touch-controls-fadeout-time;
  opacity: 0.01 !important;
}

body.controls-fade-out .segment .drag-handle {
  transition: opacity $touch-controls-fadeout-time !important;
  opacity: 0.01 !important;
}

body.controls-fade-out .segment:not(.unmovable).hover .hover-bk {
  transition: opacity $touch-controls-fadeout-time !important;
  opacity: 0.01 !important;
}

// Keyboard button
.key {
  display: inline-block;
  position: relative;
  top: -2px;
  padding: 1px 6px;
  border-top: 1px solid rgb(240, 240, 240);
  border-left: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(200, 200, 200);
  border-right: 1px solid rgb(200, 200, 200);
  border-radius: 2px;
  font-size: 11px;
  font-style: italic;
  background: rgb(220, 220, 220);
  color: rgb(64, 64, 64);

  // Spacing of multiple keys in series
  & + .key {
    margin-left: 0.25em;
  }
}

