body.phone #error,
body.phone #loading {
  font-size: 32px;
}

#svg {
  display: none;
}

#error,
#loading {
  background: $sky-colour;
  color: black;

  h1 {
    @include large-message-text;
  }
}

#error {
  @include blocking-shield;

  z-index: $z-09-error;

  // Errors may be displayed on old browsers without flexbox.
  // This forces vertical centering
  display: table;
}

.error-content {
  position: relative;
  text-align: center;
  line-height: 1.6;

  // Errors may be displayed on old browsers without flexbox.
  // This forces vertical centering
  display: table-cell;
  vertical-align: middle;

  a {
    color: black;
    white-space: nowrap;
  }

  button {
    margin-top: 1em;
    padding: 0.5em 1em;
    font-size: 1em;
  }

  button + button {
    margin-left: 1em;
  }
}

#loading {
  @include blocking-shield;

  z-index: $z-09-loading;

  &.hidden {
    display: none;
  }
}

#loading-progress {
  @include appearance(none);

  display: block;
  width: 200px;
  height: 8px;
  padding: 0;
  margin: 0 auto;
  margin-top: 5px;
  border: 0;
  border-top: 1px solid darken($ui-colour, 20%);
  border-bottom: 1px solid darken($ui-colour, 20%);
  background: transparent;
  background-size: auto;
  color: $off-white;

  &::-webkit-progress-bar {
    background: transparent;
  }

  &::-webkit-progress-value {
    background: $off-white;
  }

  &::-moz-progress-bar {
    background: $off-white;
  }
}

// --------------------------------------------------------

.avatar {
  display: inline-block;
  background-size: 100%;
  background-color: white;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid darken($ui-colour, 30%);
  border-radius: 50%;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 3px;
  margin-right: 5px;
}

.avatar-blank {
  box-shadow: inset 0 0 0 1px white;
  background-image: url('/images/avatar.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

body.controls-fade-out .info-bubble {
  transition: opacity $touch-controls-fadeout-time;
  opacity: 0.01 !important;
}

body.controls-fade-out .segment .drag-handle {
  transition: opacity $touch-controls-fadeout-time !important;
  opacity: 0.01 !important;
}

body.controls-fade-out .segment:not(.unmovable).hover .hover-bk {
  transition: opacity $touch-controls-fadeout-time !important;
  opacity: 0.01 !important;
}

// Keyboard button
.key {
  display: inline-block;
  padding: 0.2em 0.75em;
  margin: 0 0.25em;
  border: #ccc 1px solid;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: bold;
  // Mac OS X default monospace font has different sized left/right arrows, so use Menlo instead
  font-family: 'Menlo', monospace;
  background: #f4f4f4;
  color: rgb(64, 64, 64);
  text-shadow: #fff 0 1px 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
  white-space: nowrap;
}
