//
// Dialog boxes
//
// --------------------------------------------------------

// Base styles for dialog boxes

$dialogBoxDefaultWidth:   790px;
$dialogBoxZIndex:         99999999 + 3;

#dialog-box-shield {
  z-index: $dialogBoxZIndex - 1;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: fade-out($skyColour, 0.5);
  cursor: pointer;
  touch-action: none;

  &:not(.visible) {
    display: none;
  }
}

.dialog-box {
  z-index: $dialogBoxZIndex;
  position: absolute;

  top: 100px;
  left: 50%;
  margin-left: -($dialogBoxDefaultWidth / 2);

  box-sizing: border-box;
  padding: 15px 15px;

  @include box-border();
  background: white;
  font-size: 13px;
  line-height: 1.5;
  touch-action: none;

  &:not(.visible) {
    display: none;
  }
}

// Content of #about and #save-as-image dialog boxes

#about {
  width: $dialogBoxDefaultWidth;

  .description {
    font-size: 16px;
  }
  .left {
    width: 300px;
    margin-right: 40px;
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
  }
  .right {
    width: 350px;
    display: inline-block;
    vertical-align: top;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .team {
    a {
      color: black;
    }

    li {
      margin-top: 5px;
    }
  }
}

#save-as-image-dialog {
  width: $dialogBoxDefaultWidth;
  padding-left: 40px;
  padding-right: 40px;

  p {
    font-size: 16px;
    text-align: center;

    a {
      font-size: 16px;
    }
  }

  input[type='checkbox'] {
    margin-left: 20px;
    font-size: 25px;
    user-select: none;
  }

  label {
    padding-left: 1px;
    user-select: none;
  }

  footer {
    text-align: center;
  }
}

#about footer,
#save-as-image-dialog footer {
  color: rgb(160, 160, 160);
  font-size: 11px;
  line-height: 14px;
  margin-top: 15px;

  a {
    color: inherit;

    &:hover {
      color: rgb(120, 120, 120);
    }
  }
}

#save-as-image-preview-loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  line-height: 300px;
  height: 300px;

  font-size: 16px;
  text-align: center;

  &:not(.visible) {
    display: none;
  }
}

#save-as-image-preview {
  position: relative;
  display: table;
  width: 700px + 3px + 3px;
  height: 300px + 3px + 3px;
  margin-bottom: 20px;
}

#save-as-image-preview-preview {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 0;

  @include touch-callout(default);

  &:not(.visible) {
    opacity: 0;
    pointer-events: none;
  }

  img {
    max-width: 700px;
    max-height: 300px;

    cursor: move; // IE
    cursor: grab;

    border-top: 3px dashed $uiColour;
    border-bottom: 3px dashed $uiColour;
  }
}
