//
// Dialog boxes
//
// --------------------------------------------------------

// Base styles for dialog boxes

.dialog-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.dialog-box-shield {
  z-index: $z-08-dialog-box-shield;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: fade-out($sky-colour, 0.5);
  touch-action: none;
}

.dialog-box-shield-unclickable {
  cursor: auto;
}

.dialog-box {
  @include box-border;

  position: relative;
  box-sizing: border-box;
  // balance the dialog by making it slightly north of center
  margin-top: -6%;
  background: white;
  font-size: 13px;
  line-height: 1.5;
  padding: 1rem 2rem;
  z-index: $z-09-dialog-box;
  touch-action: none;

  h1 {
    @include large-message-text;

    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.2;
  }

  footer {
    color: rgb(160, 160, 160);
    font-size: 11px;
    line-height: 14px;
    margin-top: 15px;

    a {
      color: inherit;
    }

    a:hover {
      color: rgb(120, 120, 120);
    }
  }

  button.close {
    z-index: $z-09-dialog-box;
  }

  button:not(.close),
  a.button-like {
    margin: 0 auto;
    display: inline-block;
    padding: 0.75em 2em;
    margin-top: 1em;
  }
}

.dialog-error {
  padding: 1.5em 3em;
  max-width: 400px;
}

// Type 2 dialog, currently used for What's New and Sign in/Sign up
.dialog-type-2 {
  // Removes internal margins so that certain content can bleed to edges.
  margin: -1rem -2rem;
  padding: 0;
  display: flex;
  flex-direction: column;

  header {
    padding: 1rem 2rem;
    padding-top: 2rem;
    text-align: center;
    background-color: #e6f0f5;
  }

  footer {
    padding: 1rem 2rem;
    margin-top: 0;
  }

  footer > p:first-child {
    margin-top: 0;
  }
}

.dialog-content {
  flex-grow: 1;
  position: relative;

  &:not(.dialog-content-bleed) {
    padding: 1rem 2rem;
  }

  > p:first-child {
    margin-top: 0;
  }
}

button.dialog-primary-action {
  border-top: 1px solid #cde1ea;
  border-bottom: 0;
  background-color: white;
  width: 100%;
  text-align: center;
  color: darken($ui-colour, 30%);
  min-height: 46px;

  /* override .dialog-box button */
  padding: 1rem 2rem !important;
  margin-top: 0 !important;

  &:hover {
    background-color: #f1f7f9;
    color: darken($ui-colour, 50%);
  }
}
