//
// Dialog boxes
//
// --------------------------------------------------------

// Base styles for dialog boxes

$dialog-box-default-width: 790px;

#dialog-box-shield {
  z-index: $z-08-dialog-box-shield;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: fade-out($sky-colour, 0.5);
  cursor: pointer;
  touch-action: none;

  &:not(.visible) {
    display: none;
  }
}

.dialog-box {
  @include box-border;

  z-index: $z-09-dialog-box;
  position: absolute;

  top: 100px;
  left: 50%;
  margin-left: -($dialog-box-default-width / 2);

  box-sizing: border-box;
  padding: 15px;

  background: white;
  font-size: 13px;
  line-height: 1.5;
  touch-action: none;

  h1 {
    @include large-message-text;
  }

  &:not(.visible) {
    display: none;
  }
}

// Content of #about dialog box
.about-dialog {
  width: $dialog-box-default-width;

  // Used by team list and external links
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.about-dialog-left {
  width: 300px;
  margin-right: 40px;
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
}

.about-dialog-right {
  width: 350px;
  display: inline-block;
  vertical-align: top;
}

.about-dialog-description {
  font-size: 16px;
  margin: 1em 0;
}

.about-dialog-team {
  a {
    color: black;
  }

  li {
    margin-top: 5px;
  }
}

// Content of #save-as-image dialog box
// TODO: Less nesting and less id-based styling
#save-as-image-dialog {
  width: $dialog-box-default-width;
  padding-left: 40px;
  padding-right: 40px;

  p {
    font-size: 16px;
    text-align: center;

    a {
      font-size: 16px;
    }
  }

  input[type='checkbox'] {
    margin-left: 20px;
    font-size: 25px;
    user-select: none;
  }

  label {
    padding-left: 1px;
    user-select: none;
  }

  footer {
    text-align: center;
  }
}

#about footer,
#save-as-image-dialog footer {
  color: rgb(160, 160, 160);
  font-size: 11px;
  line-height: 14px;
  margin-top: 15px;

  a {
    color: inherit;

    &:hover {
      color: rgb(120, 120, 120);
    }
  }
}

.save-as-image-preview-loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  line-height: 300px;
  height: 300px;

  font-size: 16px;
  text-align: center;
}

#save-as-image-preview {
  position: relative;
  display: table;
  width: 700px + 3px + 3px;
  height: 300px + 3px + 3px;
  margin-bottom: 20px;
}

.save-as-image-preview-image {
  @include touch-callout(default);

  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 0;

  img {
    max-width: 700px;
    max-height: 300px;

    cursor: move; // IE
    cursor: grab;

    border-top: 3px dashed $ui-colour;
    border-bottom: 3px dashed $ui-colour;
  }
}
