body.gallery-visible {
  #main-screen {
    transform: translateY($gallery-height - 90px);
  }

  #street-name-canvas {
    transform: translateY(60px);
  }
}

body:not(.safari).gallery-visible #street-section-sky {
  transform: translateY(-20px);
}

#gallery {
  position: absolute;
  left: $left-right-inset + 20px;
  right: $left-right-inset + 20px;
  top: 0;
  height: $gallery-height;
  z-index: $z-09-gallery;

  border-bottom: 3px solid darken($ui-colour, 30%);

  background: white;
  overflow: hidden;

  pointer-events: none;

  transform: translateY(-$gallery-height) rotateX(25deg);
  transform-origin: 50% 0;

  .avatar {
    position: absolute;
    left: 20px;
    top: 12px;
    width: 32px;
    height: 32px;
  }

  .user-id {
    position: absolute;
    left: 60px;
    top: 15px;

    font-size: 24px;
  }

  .twitter-profile {
    font-size: 13px;
    margin-left: 10px;
    color: rgb(128, 128, 128);
  }

  .street-count {
    position: absolute;
    right: 20px;
    top: 12px;

    font-size: 24px;
    font-weight: 300;
    color: rgb(128, 128, 128);
  }

  #new-street {
    left: 20px;
    top: 60px;
    width: 100px;
    height: 43px;

    position: absolute;

    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    line-height: 15px;

    font-weight: bold;
  }

  #copy-last-street {
    left: 20px;
    top: 130px;
    width: 100px;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
    line-height: 40px;
    position: absolute;
  }

  &.another-user #new-street,
  &.another-user #copy-last-street,
  &.all-streets #new-street,
  &.all-streets #copy-last-street {
    display: none !important;
  }

  // Applied by the wrapping element created by Scrollable.jsx component
  .streets-scrollable-container {
    position: absolute;
    left: 130px + 10px;
    right: 5px + 10px;
    top: 50px;
    height: $gallery-height;
  }

  button.scrollable {
    margin-top: 45px;

    &.scroll-left {
      left: -10px !important;
    }

    &.scroll-right {
      right: -10px !important;
    }
  }

  .streets {
    list-style: none;
    padding: 0;
    margin: 0;

    white-space: nowrap;

    height: $gallery-height + 20px; // To cover the scroll bar
    overflow-x: scroll;
  }

  &.another-user .streets,
  &.all-streets .streets {
    left: 23px;
  }

  .loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: $gallery-height;
    line-height: $gallery-height;
    text-align: center;
    z-index: $z-03-gallery-message;
    display: none;
    background: white;

    &.visible {
      display: block;
    }
  }

  .error-loading,
  .sign-in-promo {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    height: $gallery-height;

    text-align: center;
    z-index: $z-03-gallery-message;
    background: white;

    padding-top: 80px;

    display: none;

    &.visible {
      display: block;
    }

    a {
      color: inherit;
    }
  }
}

#gallery-try-again {
  margin-left: 10px;
}

.gallery-street-item {
  display: inline-block;
}

.gallery-street-item > a {
  display: inline-block;

  color: black;
  text-decoration: none;

  vertical-align: top;

  width: $thumbnail-width;
  height: $thumbnail-height - 10px;
  margin: 10px;
  margin-top: 5px;
  background: fade-out($sky-colour, 0.2);
  padding: 5px 0;

  border-top: 3px solid darken($ui-colour, 10%);
  border-bottom: 3px solid darken($ui-colour, 10%);
  text-align: center;
  white-space: normal;

  cursor: pointer;

  font-size: 13px;

  position: relative;

  canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: $thumbnail-width;
    height: $thumbnail-height;
  }

  &:first-child {
    margin-left: 0;
  }

  .creator {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 18px;
    text-align: center;
    display: block;

    font-size: 11px;
    color: black;
  }

  .date {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    text-align: center;
    display: block;

    font-size: 11px;
    color: black;
    font-weight: 300;
  }

  button.remove {
    position: absolute;
    font-size: 16px;
    padding: 0 10px;
    line-height: 25px;

    top: -10px;
    right: -5px;

    display: none;
  }

  &:hover {
    background: fade-out($ui-colour, 0.1);

    button.remove {
      display: block;
    }
  }

  &.virgin:not(.selected) {
    opacity: 0.33;
  }

  &.selected {
    background: darken($ui-colour, 10%);

    border-top-color: black;
    border-bottom-color: black;

    canvas {
      opacity: 1;
    }
  }
}

body:not(.gallery-no-move-transition) #main-screen,
body:not(.gallery-no-move-transition) #gallery,
body:not(.gallery-no-move-transition) #street-name-canvas,
body:not(.gallery-no-move-transition) #street-section-sky {
  transition: transform 800ms;
}

body.safari #gallery {
  transform: translateY(-$gallery-height - 3px);
}

#gallery-shield {
  position: absolute;
  display: none;
  left: 0;
  top: 90px;
  cursor: pointer;
  z-index: $z-08-gallery-shield;
}

body.gallery-visible #gallery {
  transform: translateY(0);
  pointer-events: auto;
}

body.gallery-visible #gallery-shield {
  display: block;
}
