#rootDiv{
	position: relative;
	padding-top: 7px;
	width: 1000px;
right: 250px;

	#dark-border{
		padding: 4.5px;
		background-color: white;
	}

	#input-box{
		position: absolute;

		top: 15px;
		left: 450px;
		z-index: 1001;
	}

	#street-metadata-map {
    padding-top: 7px;
    padding-bottom: 40px;
    width: 500px;
    left: 50%;
    position: absolute;
    margin-left: -250px;
    color: black;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: auto;
}

	.leaflet-container {
		border: 4.5px solid #000;
		height: 500px;
	}
}
