.geolocation {
  position: relative;
  width: 1000px;
  right: 250px;

  .geolocation-border {
    border-top: 3px solid #85b7cc;
    border-bottom: 3px solid #85b7cc;
  }

  .geolocation-input {
    position: absolute;
    top: 15px;
    left: 450px;
    z-index: 1001;
  }

  #street-metadata-map {
    padding-top: 7px;
    padding-bottom: 40px;
    width: 500px;
    left: 50%;
    position: absolute;
    margin-left: -250px;
    color: black;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: auto;
  }

  .leaflet-container {
    height: 500px;
  }

  .geolocation-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 36px;
    border: 0;
    font-size: 14px;
    z-index: 1002;
    background: transparent;
    color: #402020;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}
