//
// Menus
//
// --------------------------------------------------------

.menu {
  @include box-border;

  position: absolute;
  top: 35px;
  touch-action: none;

  opacity: 0;
  background: white;
  font-size: 13px;
  transform-origin: 50% 0;
  transform: rotateX(-90deg);
  transition: transform 100ms, opacity 100ms;
  pointer-events: none;

  z-index: $z-04-menu;

  &.visible {
    transform: rotateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  &.align-right {
    right: $left-right-inset;
  }

  & > a {
    text-decoration: none;
    color: black;
    display: block;

    position: relative;

    padding: 8px 20px;
    padding-left: 30px;
    padding-right: 40px;

    border-top: 1px solid $ui-colour;
    border-bottom: 1px solid $ui-colour;
    margin-bottom: -1px;

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      background: fade-out($ui-colour, 0.5);
    }

    &:active {
      background: fade-out($ui-colour, 0.3);
    }
  }

  textarea,
  input {
    @include appearance(none);

    background: $form-element-background;
    border: 1px solid $form-element-border;
    resize: none;
  }

  .icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 16px;
    height: 16px;
  }
}

body.safari .menu {
  transform: translateY(20px) translateZ(100px);

  &.visible {
    transform: rotateX(0) translateZ(100px);
  }
}

#settings-menu {
  min-width: 200px;
}

#share-menu {
  min-width: 350px;
}

.menu .form {
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  p:first-child {
    margin-top: 0;
  }

  table {
    border-collapse: collapse;
    margin: -5px;

    td {
      vertical-align: top;
      padding: 5px;
    }
  }
}

.menu-item-subtext {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 8px;
  color: rgb(128, 128, 128);
  font-size: 11px;
}

#help-shortcuts {
  max-width: 400px;
  line-height: 18px;
}

#share-via-link-canvas {
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 9px;
  margin-bottom: 15px;
}

#sign-in-promo {
  width: 300px;
  text-align: center;

  color: rgb(128, 128, 128);
  font-size: 13px;
  line-height: 18px;
  padding: 15px 40px;
  border-bottom: 1px solid rgb(224, 224, 224);
  margin-bottom: 15px;

  display: none;

  a {
    color: inherit;
  }

  &.visible {
    display: block;
  }
}

#share-via-link {
  font-size: 13px;
  line-height: 18px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  outline: none;
}
