//
// Menu bar
//
// --------------------------------------------------------

$top-menu-text: $segment-text;
$top-menu-hover-text: darken($ui-colour, 30%);
$top-menu-active-text: darken($ui-colour, 40%);

.menu-bar {
  z-index: $z-02-menu-bar;
  display: block;
  position: absolute;
  left: $left-right-inset;
  right: $left-right-inset;
  top: -150px;
  padding: 0;
  border-top: 150px solid $header-footer-background;
  border-bottom: 3px solid darken($ui-colour, 20%);
  background: $header-footer-background;
  background-clip: padding-box;
  font-family: $font-family;
  font-size: 13px;
  user-select: none;
  touch-action: none;

  body.read-only & {
    display: none;
  }

  ul {
    display: inline-block;
    list-style: none;
    padding: 3px 10px;
    margin: 0;
    line-height: 22px;
    color: $top-menu-text;
  }

  li {
    display: inline-block;
    white-space: nowrap;

    // Dot separator between menu items
    &::after {
      content: '·';
      margin-left: 0.5em;
      margin-right: 0.5em;
    }

    // No dot separator on the last menu item
    &:last-child::after {
      content: '';
      margin-left: 0;
      margin-right: 0;
    }
  }

  a {
    @include tap-highlight-color(transparent);

    display: inline-block;
    height: 22px;
    outline: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    color: inherit;

    &:hover {
      color: $top-menu-hover-text;
    }

    &:active {
      color: $top-menu-active-text;
    }
  }

  button {
    @include appearance(none);
    @include tap-highlight-color(transparent);

    border: 0;
    padding: 10px;
    margin: -10px;
    font-size: inherit;
    font-weight: inherit;
    text-rendering: optimizeLegibility;
    background-color: transparent;
    color: inherit;
    cursor: pointer;

    &::after {
      content: ' ▼';
      display: inline-block;
      padding-left: 5px;
      font-family: 'Verdana', sans-serif;
      font-size: 9px;
      transform: scaleY(0.75);
    }

    &:hover {
      color: $top-menu-hover-text;
      background-color: transparent;
    }

    &:active {
      color: $top-menu-active-text;
    }

    &[disabled] {
      color: red;
    }
  }
}

.menu-bar-right {
  float: right;
}

.menu-bar-title {
  margin-left: 0.25em;

  h1 {
    padding: 0;
    margin: 0;
    margin-left: 0.25em;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
    display: none;
  }
}

.streetmix-logo {
  display: inline-block;
  position: relative;
  top: 1px;
  left: 1px;
  width: 84px;
  height: 14px;
  background-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2084%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%234c4c4c%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%221.414%22%3E%3Cpath%20d%3D%22M5.596.954C2.774.954.86%202.332.86%204.537c0%204.575%207.02%202.977%207.02%205.843%200%20.992-.91%201.562-2.432%201.562-1.393%200-3.064-.662-4.4-1.874L.1%2011.942c1.337%201.213%203.268%202.04%205.31%202.04%202.86%200%204.902-1.415%204.902-3.712.02-4.63-7-3.124-7-5.935%200-.864.836-1.342%202.117-1.342.983%200%202.395.35%203.806%201.195l.91-1.91C8.938%201.487%207.286.953%205.596.953zM16.753%2011.666c-.575.276-1.04.423-1.485.423-.668%200-1.058-.313-1.058-1.324V6.08h2.915V4.5H14.21V1.817h-2.117V4.5H10.7v1.58h1.393v5.072c0%202.003%201.28%202.848%202.766%202.848.835%200%201.652-.257%202.432-.717l-.54-1.617zM20.535%204.133H18.4v9.775h2.135V8.8c.168-1.672%201.43-2.83%203.417-2.72V4.06c-1.56%200-2.748.697-3.417%202.02V4.133zM29.195%204.06C26.26%204.076%2024.2%206.08%2024.2%209.04c0%202.94%202.005%204.942%205.05%204.942%201.71%200%203.12-.607%204.086-1.654l-1.133-1.195c-.724.735-1.708%201.14-2.786%201.14-1.56%200-2.73-.937-3.063-2.444h7.465c.258-3.53-1.153-5.77-4.625-5.77zm-2.878%204.225c.24-1.562%201.337-2.536%202.896-2.536%201.616%200%202.674.955%202.75%202.535h-5.646zM39.695%204.06C36.76%204.076%2034.7%206.08%2034.7%209.04c0%202.94%202.005%204.942%205.05%204.942%201.71%200%203.12-.607%204.086-1.654l-1.133-1.195c-.724.735-1.708%201.14-2.785%201.14-1.56%200-2.73-.937-3.064-2.444h7.464c.26-3.53-1.15-5.77-4.623-5.77zm-2.878%204.225c.24-1.562%201.336-2.536%202.896-2.536%201.616%200%202.674.955%202.75%202.535h-5.646zM51.053%2011.666c-.575.276-1.04.423-1.485.423-.67%200-1.06-.313-1.06-1.324V6.08h2.917V4.5H48.51V1.817h-2.117V4.5H45v1.58h1.393v5.072c0%202.003%201.28%202.848%202.766%202.848.835%200%201.652-.257%202.432-.717l-.54-1.617zM65.787%204.06c-1.802%200-3.12.716-3.75%202.35-.466-1.487-1.672-2.35-3.436-2.35-1.634%200-2.896.587-3.583%201.965V4.133H52.9v9.775h2.117V9.076c0-1.71%201.04-2.996%202.748-3.05%201.448%200%202.32.9%202.32%202.388v5.494h2.136V9.076c0-1.71%201.022-2.996%202.712-3.05%201.45%200%202.34.9%202.34%202.388v5.494h2.135V7.826c0-2.334-1.355-3.767-3.62-3.767zM71.956.053c-.706%200-1.244.533-1.244%201.286%200%20.735.538%201.268%201.244%201.268.705%200%201.244-.533%201.244-1.27%200-.752-.54-1.285-1.244-1.285zm1.058%2013.855V4.133h-2.117v9.775h2.117zM78.99%207.477l-2.21-3.344h-2.45l3.25%204.76-3.49%205.015h2.376l2.525-3.583%202.36%203.583h2.45l-3.398-5.016%203.175-4.76h-2.34l-2.246%203.345z%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
  background-position: left bottom;
  background-repeat: no-repeat;
}

.environment-badge {
  z-index: $z-02-menu-bar;
  display: none;
  position: absolute;
  left: 14px;
  top: 23px;
  padding: 2px 7px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 4px;
  padding-right: 7px - 4px; // Right padding minus letter-spacing
  color: white;
  background-color: gray;
  pointer-events: none;

  body.environment-development & {
    display: inline-block;
    background-color: rgb(200, 0, 0);
  }

  body.environment-staging &,
  body.environment-sandbox & {
    display: inline-block;
    background-color: green;
  }
}
