
// This is a mixin used by various UI elements
@mixin box-border {
  border-top: 3px solid darken($ui-colour, 20%);
  border-bottom: 3px solid darken($ui-colour, 20%);
}

// Non-standard prefixed styles
@mixin tap-highlight-color($value: transparent) {
  -webkit-tap-highlight-color: $value;
  -moz-tap-highlight-color: $value;
  tap-highlight-color: $value; // stylelint-disable-line property-no-unknown
}

@mixin text-size-adjust($value: none) {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

@mixin touch-callout($value: default) {
  -webkit-touch-callout: default;
  // There is no -moz- version
  touch-callout: default; // stylelint-disable-line property-no-unknown
}

// Shared style mixins

// Position and layout for error, loading, and blocking shield
@mixin blocking-shield {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  font-size: 16px;
}

@mixin large-message-text {
  font-size: 250%;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1.1;
  margin-top: 8px;
  margin-bottom: 12px;
}

// LOADING SPINNER

@mixin loading-spinner {
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.75);
  border-top-color: darken($ui-colour, 20%);
  animation: spinner 0.75s linear infinite;
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}
