
// This is a mixin used by various UI elements
@mixin box-border {
  border-top: 3px solid darken($ui-colour, 20%);
  border-bottom: 3px solid darken($ui-colour, 20%);
}

// Non-standard prefixed styles
@mixin appearance($value: none) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

@mixin tap-highlight-color($value: transparent) {
  -webkit-tap-highlight-color: $value;
  -moz-tap-highlight-color: $value;
  tap-highlight-color: $value; // stylelint-disable-line property-no-unknown
}

@mixin text-size-adjust($value: none) {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

@mixin touch-callout($value: default) {
  -webkit-touch-callout: default;
  // There is no -moz- version
  touch-callout: default; // stylelint-disable-line property-no-unknown
}

// Shared style mixins

// Position and layout for error, loading, and blocking shield
@mixin blocking-shield {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
  font-size: 16px;
}

@mixin large-message-text {
  font-size: 250%;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1.1;
  margin-top: 8px;
  margin-bottom: 12px;
}

@mixin streetmix-logo {
  max-height: 80px;
  background-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20220%2070%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%221.414%22%3E%3Cg%20fill%3D%22%2335677C%22%20fill-rule%3D%22nonzero%22%3E%3Cpath%20d%3D%22M28.943%2020.664c-6.385%200-10.71%203.15-10.71%208.19%200%2010.458%2015.875%206.804%2015.875%2013.357%200%202.27-2.057%203.57-5.5%203.57-3.15%200-6.93-1.51-9.956-4.283l-2.14%204.283c3.023%202.772%207.39%204.662%2012.01%204.662%206.468%200%2011.088-3.234%2011.088-8.483.042-10.585-15.833-7.142-15.833-13.567%200-1.974%201.89-3.067%204.788-3.067%202.226%200%205.418.798%208.61%202.73l2.058-4.367c-2.73-1.807-6.468-3.026-10.29-3.026zM54.436%2045.15c-1.3.63-2.352.967-3.36.967-1.51%200-2.393-.714-2.393-3.024v-10.71h6.593V28.77h-6.593v-6.13h-4.788v6.13h-3.15v3.612h3.15v11.592c0%204.578%202.898%206.51%206.258%206.51%201.89%200%203.738-.587%205.502-1.638l-1.22-3.695zM62.836%2027.93h-4.83v22.344h4.83V38.598c.38-3.822%203.234-6.467%207.728-6.216v-4.62c-3.527%200-6.216%201.596-7.728%204.62v-4.45zM81.652%2027.762c-6.635.042-11.297%204.62-11.297%2011.383%200%206.72%204.536%2011.297%2011.424%2011.297%203.863%200%207.055-1.385%209.238-3.78l-2.562-2.73c-1.638%201.68-3.864%202.604-6.3%202.604-3.527%200-6.174-2.14-6.93-5.586H92.11c.59-8.063-2.603-13.188-10.458-13.188zm-6.51%209.66c.547-3.57%203.025-5.796%206.552-5.796%203.654%200%206.048%202.185%206.216%205.797H75.143zM104.248%2027.762c-6.635.042-11.297%204.62-11.297%2011.383%200%206.72%204.537%2011.297%2011.425%2011.297%203.864%200%207.056-1.385%209.24-3.78l-2.563-2.73c-1.638%201.68-3.864%202.604-6.3%202.604-3.527%200-6.174-2.14-6.93-5.586h16.884c.59-8.063-2.603-13.188-10.458-13.188zm-6.51%209.66c.547-3.57%203.024-5.796%206.553-5.796%203.654%200%206.048%202.185%206.217%205.797h-12.77zM129.07%2045.15c-1.3.63-2.352.967-3.36.967-1.512%200-2.394-.714-2.394-3.024v-10.71h6.594V28.77h-6.594v-6.13h-4.787v6.13h-3.15v3.612h3.15v11.592c0%204.578%202.897%206.51%206.256%206.51%201.89%200%203.74-.587%205.502-1.638l-1.218-3.695zM161.788%2027.762c-4.074%200-7.056%201.638-8.483%205.376-1.05-3.4-3.78-5.376-7.77-5.376-3.697%200-6.553%201.345-8.107%204.495V27.93h-4.788v22.344h4.788V39.23c0-3.907%202.352-6.848%206.216-6.973%203.276%200%205.25%202.058%205.25%205.46v12.557h4.83V39.23c0-3.907%202.31-6.848%206.132-6.973%203.276%200%205.292%202.058%205.292%205.46v12.557h4.83V36.372c0-5.334-3.066-8.61-8.19-8.61zM176.74%2018.607c-1.596%200-2.814%201.218-2.814%202.94%200%201.68%201.218%202.898%202.814%202.898s2.814-1.22%202.814-2.9c0-1.72-1.218-2.938-2.814-2.938zm2.394%2031.667V27.93h-4.788v22.344h4.788zM192.28%2035.574l-4.998-7.643h-5.544l7.35%2010.878-7.896%2011.466h5.376l5.712-8.19%205.334%208.19h5.544l-7.686-11.466%207.182-10.877h-5.292l-5.082%207.644z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-position: center center;
}
