.segment {
  display: block;
  position: absolute;
  top: -150px;
  height: $canvas-height + 85px + 30px;
  text-align: center;
  perspective: 500px;
  touch-action: none;
}

.segment-empty {
  position: absolute;
  pointer-events: none;
  z-index: -1;

  .name,
  .width {
    color: $empty-segment-text;
  }

  .width {
    overflow: visible;
  }
}

.segment-canvas-container {
  width: 100%;
  height: 100%;
}

.segment-drag-layer {
  position: fixed;
  pointer-events: none;
  z-index: 400;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

body.segment-move-dragging .segment-empty {
  display: none;
}

body:not(.segment-resize-dragging) .segment {
  transition: width 150ms, left 150ms, transform 150ms;
}

body.immediate-segment-resize .segment {
  transition: none !important;
}

.segment.create {
  transition: none !important;
}

// Segments in palette
.segment.segment-in-palette {
  display: inline-block;
  position: relative;

  //overflow: hidden;

  margin: 12px 0;
  height: 80px;
  top: 0;
  background-color: fade-out($sky-colour, 0.3);
  margin-right: 1px;
  transform-origin: 50% 75%;
  transition: transform 50ms !important;
}

.segment.hover {
  z-index: $z-02-segment-focused !important;
}

.segment.hover .hover-bk {
  background: $segment-hover-background;
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  z-index: -1;
  height: $canvas-baseline - 10px;
  pointer-events: none;
}

body:not(.read-only) .segment {
  cursor: grab;
}

.segment .image {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 150px;
  pointer-events: none;
}

.segment.segment-in-palette .image {
  top: 0;
}

body:not(.segment-resize-dragging) .segment.outside .image {
  transition: none;
}

.segment.dragged-out {
  opacity: 0;
}

.segment.segment-in-palette:hover {
  background: fade-out($sky-colour, 0.05);
  z-index: 1;

  canvas {
    transform: scale(1.15);
    transform-origin: 50% 75px;
  }
}

.segment.floating {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.75;
  z-index: $z-02-segment-focused;
  pointer-events: none;
  transition: none !important;
}

.segment.floating.first-drag-move {
  transition: top 150ms;
}

body.segment-resize-dragging,
body.segment-resize-dragging * {
  cursor: col-resize !important;
}

.drag-handle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 170px + 150px;
  width: 30px;
  height: 100px;
  border-top: 3px solid darken($ui-colour, 30%);
  border-bottom: 3px solid darken($ui-colour, 30%);
  font-size: 1.5rem;
  color: darken($ui-colour, 20%);
  z-index: $z-06-drag-handle;
  pointer-events: none;
  background: $info-bubble-background;
  cursor: col-resize;
  transition: transform 150ms, opacity 150ms;
  opacity: 0;

  &:hover {
    color: darken($ui-colour, 30%);
  }
}

.drag-handle-left {
  left: -5px;
  text-align: left;
  text-indent: -5px;
  transform-origin: 100% 50%;
  transform: rotateY(90deg);
}

.drag-handle-right {
  right: -5px;
  text-align: right;
  text-indent: -3px;
  transform-origin: 0 50%;
  transform: rotateY(-90deg);
}

.segment.immediate-show-drag-handles .drag-handle {
  transition: none !important;
}

.drag-handle.floating {
  background-color: darken($ui-colour, 30%);
}

body.segment-resize-dragging .drag-handle.floating,
.segment.show-drag-handles .drag-handle {
  pointer-events: auto;
  opacity: 1;
  transform: none;
}

.segment-guides {
  position: absolute;
  z-index: $z-07-segment-guide;
  top: -75px;
  bottom: 120px;
  left: 50%; /* Will be overridden by component */
  box-sizing: border-box;
  pointer-events: none;
}

.segment-guide {
  position: absolute;
  height: 100%;
  border-left: 1px dashed fade-out(black, 0.6);
  border-right: 1px dashed fade-out(black, 0.6);
}

.segment-guide-max-before,
.segment-guide-max-after,
.segment-guide-min-before,
.segment-guide-min-after {
  width: 50px;
  position: absolute;
  bottom: 400px;
  font-size: 11px;
  color: fade-out(black, 0.4);
}

.segment-guide-max-before {
  left: -55px;
  text-align: right;
}

.segment-guide-max-after {
  right: -55px;
  text-align: left;
}

.segment-guide-min-before {
  left: 5px;
  text-align: left;
}

.segment-guide-min-after {
  right: 5px;
  text-align: right;
}

.segment .grid {
  position: absolute;
  left: 0;
  right: -1px;
  top: $canvas-baseline;
  height: $segment-grid-height;
  pointer-events: none;

  // Creates grid lines
  // The last value is required for IE11
  background-image: linear-gradient(90deg, $segment-width-rule 1px, transparent 1px, transparent);
  background-repeat: repeat-x;

  // Change background-size width to adjust spacing of grid lines
  &.units-imperial {
    background-size: $tile-size 100%;
  }

  &.units-metric {
    background-size: ($tile-size * 100 / 30 / 2) 100%;
  }
}

.segment .name {
  position: absolute;
  left: 4px;
  right: 4px;
  top: $canvas-baseline + 45;
  height: 48px;
  color: $segment-text;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  font-size: 13px;
  overflow: hidden;
  pointer-events: none;
}

.segment.hover .name {
  font-weight: 700;
}

.segment.warning .name {
  color: $segment-warning-text;
}

.segment .width {
  position: absolute;
  left: 0;
  right: -1px;
  border-left: 1px solid $segment-width-rule;
  border-right: 1px solid $segment-width-rule;
  top: $canvas-baseline;
  height: 90px;
  line-height: 60px;
  color: $segment-text;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-size: 13px;
  overflow: hidden;
  pointer-events: none;
}

/* Force `rtl` direction when it's applied to the body, since
the width element is inside the street layout which is forced `ltr` */
body[dir='rtl'] .segment .width {
  direction: rtl !important;
}

.segment.hover .width {
  font-weight: 700;
}

.segment.warning .width {
  color: $segment-warning-text;
}

body.segment-move-dragging,
body.segment-move-dragging * {
  cursor: move !important; // IE
  cursor: grabbing !important;
}

body.not-within-canvas,
body.not-within-canvas * {
  cursor: no-drop !important;
}

body.segment-move-dragging #street-section-editable .segment {
  transition: left 100ms, transform 300ms;
  height: $canvas-height + 85px + 30px + 90px;
}

.switching-away-exit {
  position: absolute;
  z-index: $z-10-switch-away;
  pointer-events: none;
  transform: none !important;
  perspective: 400px;
}

.switching-away-exit-done {
  z-index: $z-10-switch-away !important;
}

.switching-away-exit-active canvas {
  transition: transform $segment-switching-time ease-in, opacity $segment-switching-time ease-in !important;
  transform: rotateX(-60deg);
  transform-origin: 50% 120%;
  opacity: 0;
}

.switching-in-enter {
  z-index: -1 !important;
  perspective: 400px;

  canvas {
    transform: rotateX(90deg);
    transform-origin: 50% 100%;
    opacity: 0;
  }
}

.switching-in-enter-done {
  z-index: -1 !important;
}

.switching-in-enter-active canvas {
  opacity: 1;
  transition: transform $segment-switching-time, opacity $segment-switching-time !important;
  transform: none;
}
