#street-metadata {
  padding-top: 7px;
  padding-bottom: 40px;
  width: 500px;
  left: 50%;
  position: absolute;
  margin-left: -250px;
  color: black;
  font-size: 13px;
  user-select: none;
  pointer-events: auto;

  a {
    color: inherit;
  }
}

#street-width-read {
  padding: 5px 0;
}

body:not(.read-only) #street-width-read {
  cursor: pointer;

  &:hover,
  &:hover * {
    color: darken($ui-colour, 40%);
  }

  &::after {
    font-family: 'Verdana', sans-serif;
    content: ' ▼';
    padding-left: 5px;
    font-size: 9px;
    display: inline-block;
    transform: scaleY(0.75);
  }
}

body.edit-street-width #street-width-read {
  display: none;
  pointer-events: none;
}

.street-width-over {
  color: $warning-colour;
}

.street-width-under {
  color: rgb(96, 96, 96);
}

#street-width {
  width: 150px;
}

body:not(.edit-street-width) #street-width {
  display: none;
}

body:not(.read-only) #street-metadata-author a:hover {
  color: darken($ui-colour, 40%);
}

body.read-only #street-metadata-author a {
  text-decoration: none;
  cursor: default;
}

#street-metadata-author:not(:empty)::before,
#street-metadata-date:not(:empty)::before,
#street-metadata-map:not(:empty)::before {
  content: ' · ';
  color: darken($ui-colour, 40%);
  margin: 0 4px;
}
