$street-name-size: 1.5;
$street-name-top: 10px;

#street-name-canvas {
  position: absolute;
  left: 150px;
  right: 150px;
  top: $street-name-top;
  z-index: $z-03-street-name;
  text-align: center;
  pointer-events: none;

  &.move-down-for-menu {
    transform: translateY(20px);
  }

  &.no-movement {
    transition: none !important;
  }

  &.hidden {
    display: none;
  }
}

body.read-only #street-name-canvas {
  transform: translateY(0);
}

@mixin street-name-mixin($size: $street-name-size) {
  padding: 3px * $size;
}

@mixin street-name-inside-mixin($size: $street-name-size) {
  height: 30px * $size;
  border: 3px * $size solid $street-name-text;
  padding: 10px * $size 30px * $size;
  padding-top: 11px * $size;
  padding-bottom: 5px * $size;
  font-size: 40px * $size;
  line-height: 30px * $size;
  letter-spacing: 1px * $size;
}

@mixin street-name-fallback-mixin($size: $street-name-size) {
  font-size: 35px * $size;
  padding-bottom: 11px * $size;
}

body.windows .street-name-text {
  line-height: 38px;
}

.street-name {
  @include street-name-mixin;

  display: inline-block;
  background: $street-name-background;
  color: $street-name-text;
  user-select: none;
  white-space: nowrap;

  > div.street-name-text,
  > span.street-name-text {
    @include street-name-inside-mixin;

    font-family: 'Roadgeek', sans-serif;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.fallback-unicode-font > div.street-name-text {
    @include street-name-fallback-mixin;

    font-family: sans-serif;
  }
}

.street-name-text {
  @include street-name-inside-mixin;

  font-family: 'Roadgeek', sans-serif;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

#gallery .streets .street-name {
  @include street-name-mixin($street-name-gallery-size);

  max-width: 100%;
  position: relative;
  top: -15px;

  > div,
  > span {
    @include street-name-inside-mixin($street-name-gallery-size);
  }

  &.fallback-unicode-font > div {
    @include street-name-fallback-mixin($street-name-gallery-size);
  }
}

#street-name {
  @include tap-highlight-color(transparent);

  position: relative;
  max-width: 100%;
  pointer-events: auto;
}

.street-name-hover-prompt {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 60px * $street-name-size;
  font-family: sans-serif;
  font-size: 12px;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
