/* Fonts */

$fontFamily: 'Lato', sans-serif;

@import url('//fonts.googleapis.com/css?family=Lato:300,400,700,300italic');

@font-face {
  font-family: 'Roadgeek';
  src: url('/fonts/roadgeek-2005-engschrift.otf');
}

body,
button,
a.button-like,
input,
select,
textarea,
option {
  font-family: $fontFamily;
}
