// Dimensions
$tile-size:                 12px;
$canvas-height:             480px;
$canvas-ground:             35px;
$canvas-baseline:           $canvas-height - $canvas-ground + 150px;
$palette-height:            90px;
$gallery-height:            180px;
$thumbnail-width:           180px;
$thumbnail-height:          110px;
$building-space:            360px;
$segment-grid-height:       10px;
$left-right-inset:          50px;

// Colours
$background-dirt-colour:    rgb(53, 45, 39);
$sky-colour:                rgb(169, 204, 219);
$ui-colour:                 lighten($sky-colour, 10%);
$form-element-background:   lighten($ui-colour, 10%);
$form-element-border:       $ui-colour;
$off-white:                 rgb(240, 240, 240);
$header-footer-background:  rgb(240, 240, 240);
$bottom-background:         rgb(216, 211, 203);
$warning-colour:            rgb(220, 20, 20);
$segment-text:              rgb(40, 35, 30);
$segment-hover-text:        lighten($segment-text, 30%);
$segment-warning-text:      $warning-colour;
$empty-segment-text:        fade-out($segment-text, 0.5);
$segment-hover-background:  rgba(255, 255, 255, 0.2);
$light-text-colour:         rgb(240, 240, 240);
$info-bubble-background:    white;
$segment-width-rule:        rgb(160, 160, 160);
$street-name-text:          black;
$street-name-background:    white;

// Design
$street-name-gallery-size:  0.5;
$info-bubble-button-size:   30px;

// Timing
$touch-controls-fadeout-time: 3000ms;
$segment-switching-time:      250ms;
