.sky-picker.floating-panel-container-outer {
  /* TODO: use button trigger to set initial position,
    and remember position on a per-session basis */
  inset-block: auto 90px;
  inset-inline-start: 50px;
  max-width: 216px; /* prevent upgrade text from expanding width */
}

.sky-picker-upgrade {
  padding: 0.75em 1em;
  background-color: color-mix(in oklch, white 20%, var(--alert-background));
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
  color: var(--color-copper-900);

  /* Very similar to .toast-action style */
  button {
    display: block !important;
    border: 1px solid var(--color-copper-600);
    border-radius: var(--border-radius-medium);
    padding: 0.5em 1em;
    margin: 0.75em auto 0.25em;
    width: auto;
    font-weight: 550;
    background-color: transparent;
    color: var(--color-copper-800);

    &:disabled {
      filter: grayscale(0.8);
    }

    &:hover {
      background-color: transparent;
      color: var(--color-copper-900);
    }
  }
}
