@import '../../css/variables.scss';

.street-metadata {
  padding-top: 7px;
  padding-bottom: 40px;
  color: black;
  font-size: 13px;
  user-select: none;
  pointer-events: auto;
  transition: color $environment-transition;

  a {
    color: inherit;
  }
}

.street-width {
  padding: 5px 0;
}

.street-width.street-width-editable {
  cursor: pointer;

  &:hover,
  &:hover * {
    color: darken($ui-colour, 40%);
  }

  &::after {
    font-family: 'Verdana', sans-serif;
    content: ' ▼';
    padding-left: 5px;
    font-size: 9px;
    display: inline-block;
    transform: scaleY(0.75);
  }
}

.street-width-over {
  color: $warning-colour;
}

.street-width-under {
  color: rgb(96, 96, 96);
  transition: color $environment-transition;
}

.street-width-select {
  width: 150px;
}

body:not(.read-only) .street-metadata-author a:hover {
  color: darken($ui-colour, 40%);
}

body.read-only .street-metadata-author a {
  text-decoration: none;
  cursor: default;
}

.street-metadata-author:not(:empty)::before,
.street-metadata-date:not(:empty)::before,
.street-metadata-map:not(:empty)::before {
  content: ' · ';
  color: darken($ui-colour, 40%);
  margin: 0 4px;
}

.street-metadata-map a {
  text-decoration: underline;
}

.street-metadata-invert-color {
  color: #fff;

  .street-width-under {
    color: #a0a0a0;
  }

  .street-metadata-author:not(:empty)::before,
  .street-metadata-date:not(:empty)::before,
  .street-metadata-map:not(:empty)::before {
    color: #b0b0b0;
  }
}
