@import "../../styles/variables.scss";

$gallery-border-radius: $border-radius;
$gallery-box-shadow: $medium-box-shadow;
$selection-highlight-colour: $colour-copper-500;

body.gallery-visible {
  .main-screen {
    transform: translateY($gallery-height - 90px);
  }

  .street-nameplate-container {
    transform: translateY(60px);
  }
}

body:not(.safari).gallery-visible .street-section-sky {
  transform: translateY(-20px);
}

.gallery-panel {
  position: absolute;
  left: $left-right-inset;
  right: $left-right-inset;
  top: 0;
  height: $gallery-height;
  z-index: $z-09-gallery;
  border-bottom-left-radius: $gallery-border-radius;
  border-bottom-right-radius: $gallery-border-radius;
  background: white;
  box-shadow: $gallery-box-shadow;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(-$gallery-height) rotateX(25deg);
  transform-origin: 50% 0;

  .avatar {
    width: 32px;
    height: 32px;
  }

  // Applied by the wrapping element created by Scrollable.jsx component
  .streets-scrollable-container {
    position: relative;
    top: 1px;
    height: $gallery-height;
    min-width: 0; // Allows content to overflow flex element
    flex-grow: 1;
  }

  button.scrollable {
    margin-top: 45px;
    width: 30px;

    &.scroll-left {
      left: -10px !important;
    }

    &.scroll-right {
      right: -10px !important;
    }
  }

  .streets {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    height: $gallery-height + 20px; // To cover the scroll bar
    overflow-x: scroll;
  }
}

.gallery-loading,
.gallery-error {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: $z-03-gallery-message;

  a {
    color: inherit;
  }
}

.gallery-label {
  position: absolute;
  left: 16px;
  top: 11px;
  font-size: 1.5em;

  [dir="rtl"] & {
    left: auto;
    right: 16px;
  }
}

.gallery-user-id {
  display: inline-block;
  vertical-align: bottom;
}

.gallery-street-count {
  position: absolute;
  right: 16px;
  top: 12px;
  font-size: 1.75em;
  font-weight: 300;
  color: rgb(128, 128, 128);

  [dir="rtl"] & {
    left: 16px;
    right: auto;
  }
}

.gallery-streets-container {
  position: absolute;
  left: 16px;
  right: 16px;
  top: 50px;
  display: flex;
  flex-direction: row;
}

.gallery-street-item {
  display: inline-block;
  position: relative;
  width: $thumbnail-width;
  height: $thumbnail-height;
  border-radius: $border-radius-medium;

  /* this spacing is so that the selected border is not cut off when calling scrollIntoView() */
  padding: 5px;
  box-sizing: content-box;

  /* reset child box sizing */
  > * {
    box-sizing: border-box;
  }

  &:first-child {
    padding-left: 2px;
  }

  &:last-child {
    padding-right: 2px;
  }
}

.gallery-street-item > a {
  display: block;
  color: black;
  text-decoration: none;
  background: fade-out($sky-colour, 0.2);
  text-align: center;
  white-space: normal;
  cursor: pointer;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: $border-radius-medium;

  canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: $thumbnail-width;
    height: $thumbnail-height;
    // TODO: this causes rendering weirdness in Firefox.
    border-radius: $border-radius-medium;
  }

  &:hover {
    background: fade-out($ui-colour, 0.1);
  }
}

.gallery-street-item.gallery-selected > a {
  background: darken($ui-colour, 10%);
  box-shadow: 0 0 0 2px $selection-highlight-colour,
    inset 0 0 0 2px rgba(255, 255, 255, 1);

  canvas {
    opacity: 1;
  }
}

.gallery-street-item-creator {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 18px;
  text-align: center;
  display: block;
  font-size: 0.8em;
  color: black;
}

.gallery-street-item-date {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 5px;
  text-align: center;
  display: block;
  font-size: 0.8em;
  color: black;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gallery-street-item-delete {
  position: absolute;
  padding: 0;
  width: 20px;
  height: 20px;
  bottom: 7px;
  right: 7px;
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  line-height: 25px;
  user-select: none;
  background: transparent;
  border: 0;
  border-radius: 50%;
  font-size: 0.65em;

  [dir="rtl"] & {
    left: 7px;
    right: auto;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.75);
  }

  svg {
    color: $colour-turquoise-500 !important;
    width: 12px;
  }

  &:hover svg {
    color: $colour-turquoise-600 !important;
  }
}

.gallery-street-item-error {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: $border-radius-medium;
  color: $colour-turquoise-600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.gallery-user-buttons {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 100px;
  height: 110px;
  margin-top: 6px;
  margin-right: 16px;

  a.button-like,
  button {
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
  }

  [dir="rtl"] & {
    margin-left: 16px;
    margin-right: 0;
  }
}

.gallery-new-street {
  flex-grow: 1;
  font-weight: bold;
}

.gallery-copy-last-street {
  height: 40px;
  flex-basis: 40px;
  margin-top: 10px;
}

body:not(.gallery-no-move-transition) .main-screen,
body:not(.gallery-no-move-transition) .gallery-panel,
body:not(.gallery-no-move-transition) .street-nameplate-container,
body:not(.gallery-no-move-transition) .street-section-sky {
  transition: transform 800ms;
}

body.safari .gallery-panel {
  transform: translateY(-$gallery-height - 3px);
}

body.gallery-visible .gallery-panel {
  transform: translateY(0);
  pointer-events: auto;
}
