.gallery-loading-placeholders {
  display: grid;
  width: 100%;
  height: 100%;
  grid-auto-columns: 180px;
  grid-auto-flow: column;
  gap: 10px;
  padding: 8px 2px 0;
  overflow: hidden;
}

.gallery-loading-item {
  border-radius: var(--border-radius-medium);
  background-color: #f0f0f0;
  height: var(--gallery-thumbnail-height);
}
