.palette-item {
  display: inline-block;
  position: relative;
  margin: 14px 0;
  height: 80px;
  width: 60px;
  top: 0;
  background-color: color-mix(in oklch, var(--sky-color), transparent 30%);
  margin-right: 1px;
  transform-origin: 50% 75%;
  transition: transform 50ms !important;
}

/* Wrapper element for Tooltip */
.palette-item > div {
  height: 100%; // Must provide this for proper tooltip positioning
  width: 100%;
  text-align: center;
}

.palette-item:not(.palette-item-disabled):hover,
.palette-item:not(.palette-item-disabled) > div:focus {
  background-color: color-mix(in oklch, var(--sky-color), transparent 5%);
  z-index: 1;

  .palette-item-image {
    transform: scale(1.15);
  }
}

.palette-item-image {
  transform-origin: 50% 75px;
  transition: transform 0.08s cubic-bezier(0, 2.5, 1, 1);
}

@media (prefers-reduced-motion) {
  .palette-item-image {
    transition: none;
  }
}

.palette-item-disabled {
  // This complicated color-mix replaces the previous thing in SCSS:
  //    color.adjust(fade-out($sky-colour, 0.3), $saturation: -100%);
  // However it's also being compressed so none is 0, instead of "don't change"
  // so for now let's just hard-code the resultant color value
  // background-color: color-mix(in hsl, var(--sky-color), hsl(none 0% none / 70%) 100%);
  background-color: #c2c2c2b3;

  .palette-item-image {
    filter: grayscale(0.8);
    opacity: 0.5;
  }

  .fa-lock {
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 2;
    color: var(--color-copper-600);

    [dir="rtl"] & {
      left: 4px;
      right: auto;
    }
  }
}
