.streetmix-logo {
  display: inline-block;
  position: relative;
  top: 1px;
  left: 1px;
  width: 84px;
  height: 14px;
  background-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2084%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%234c4c4c%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%221.414%22%3E%3Cpath%20d%3D%22M5.596.954C2.774.954.86%202.332.86%204.537c0%204.575%207.02%202.977%207.02%205.843%200%20.992-.91%201.562-2.432%201.562-1.393%200-3.064-.662-4.4-1.874L.1%2011.942c1.337%201.213%203.268%202.04%205.31%202.04%202.86%200%204.902-1.415%204.902-3.712.02-4.63-7-3.124-7-5.935%200-.864.836-1.342%202.117-1.342.983%200%202.395.35%203.806%201.195l.91-1.91C8.938%201.487%207.286.953%205.596.953zM16.753%2011.666c-.575.276-1.04.423-1.485.423-.668%200-1.058-.313-1.058-1.324V6.08h2.915V4.5H14.21V1.817h-2.117V4.5H10.7v1.58h1.393v5.072c0%202.003%201.28%202.848%202.766%202.848.835%200%201.652-.257%202.432-.717l-.54-1.617zM20.535%204.133H18.4v9.775h2.135V8.8c.168-1.672%201.43-2.83%203.417-2.72V4.06c-1.56%200-2.748.697-3.417%202.02V4.133zM29.195%204.06C26.26%204.076%2024.2%206.08%2024.2%209.04c0%202.94%202.005%204.942%205.05%204.942%201.71%200%203.12-.607%204.086-1.654l-1.133-1.195c-.724.735-1.708%201.14-2.786%201.14-1.56%200-2.73-.937-3.063-2.444h7.465c.258-3.53-1.153-5.77-4.625-5.77zm-2.878%204.225c.24-1.562%201.337-2.536%202.896-2.536%201.616%200%202.674.955%202.75%202.535h-5.646zM39.695%204.06C36.76%204.076%2034.7%206.08%2034.7%209.04c0%202.94%202.005%204.942%205.05%204.942%201.71%200%203.12-.607%204.086-1.654l-1.133-1.195c-.724.735-1.708%201.14-2.785%201.14-1.56%200-2.73-.937-3.064-2.444h7.464c.26-3.53-1.15-5.77-4.623-5.77zm-2.878%204.225c.24-1.562%201.336-2.536%202.896-2.536%201.616%200%202.674.955%202.75%202.535h-5.646zM51.053%2011.666c-.575.276-1.04.423-1.485.423-.67%200-1.06-.313-1.06-1.324V6.08h2.917V4.5H48.51V1.817h-2.117V4.5H45v1.58h1.393v5.072c0%202.003%201.28%202.848%202.766%202.848.835%200%201.652-.257%202.432-.717l-.54-1.617zM65.787%204.06c-1.802%200-3.12.716-3.75%202.35-.466-1.487-1.672-2.35-3.436-2.35-1.634%200-2.896.587-3.583%201.965V4.133H52.9v9.775h2.117V9.076c0-1.71%201.04-2.996%202.748-3.05%201.448%200%202.32.9%202.32%202.388v5.494h2.136V9.076c0-1.71%201.022-2.996%202.712-3.05%201.45%200%202.34.9%202.34%202.388v5.494h2.135V7.826c0-2.334-1.355-3.767-3.62-3.767zM71.956.053c-.706%200-1.244.533-1.244%201.286%200%20.735.538%201.268%201.244%201.268.705%200%201.244-.533%201.244-1.27%200-.752-.54-1.285-1.244-1.285zm1.058%2013.855V4.133h-2.117v9.775h2.117zM78.99%207.477l-2.21-3.344h-2.45l3.25%204.76-3.49%205.015h2.376l2.525-3.583%202.36%203.583h2.45l-3.398-5.016%203.175-4.76h-2.34l-2.246%203.345z%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
  background-position: left bottom;
  background-repeat: no-repeat;
}

body.phone #error,
body.phone #loading {
  font-size: 32px;
}

#svg {
  display: none;
}

#error,
#loading {
  background: $sky-colour;
  color: black;

  h1 {
    @include large-message-text;
  }
}

#error {
  @include blocking-shield;

  z-index: $z-09-error;

  // Errors may be displayed on old browsers without flexbox.
  // This forces vertical centering
  display: table;
}

.error-content {
  position: relative;
  text-align: center;
  line-height: 1.6;

  // Errors may be displayed on old browsers without flexbox.
  // This forces vertical centering
  display: table-cell;
  vertical-align: middle;

  a {
    color: black;
    white-space: nowrap;
  }

  button,
  a.button-like {
    margin-top: 1em;
    padding: 0.5em 1em;
    font-size: 1em;
  }

  button + button {
    margin-left: 1em;
  }
}

#loading {
  @include blocking-shield;

  z-index: $z-09-loading;

  &.hidden {
    display: none;
  }
}

#loading .streetmix-logo {
  top: -90px;
}

#loading .streetmix-logo,
.error-content .streetmix-logo,
.about-dialog .streetmix-logo {
  width: 80%;
  height: 80px;
  max-height: 80px;
  background-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20220%2070%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%221.414%22%3E%3Cg%20fill%3D%22%2335677C%22%20fill-rule%3D%22nonzero%22%3E%3Cpath%20d%3D%22M28.943%2020.664c-6.385%200-10.71%203.15-10.71%208.19%200%2010.458%2015.875%206.804%2015.875%2013.357%200%202.27-2.057%203.57-5.5%203.57-3.15%200-6.93-1.51-9.956-4.283l-2.14%204.283c3.023%202.772%207.39%204.662%2012.01%204.662%206.468%200%2011.088-3.234%2011.088-8.483.042-10.585-15.833-7.142-15.833-13.567%200-1.974%201.89-3.067%204.788-3.067%202.226%200%205.418.798%208.61%202.73l2.058-4.367c-2.73-1.807-6.468-3.026-10.29-3.026zM54.436%2045.15c-1.3.63-2.352.967-3.36.967-1.51%200-2.393-.714-2.393-3.024v-10.71h6.593V28.77h-6.593v-6.13h-4.788v6.13h-3.15v3.612h3.15v11.592c0%204.578%202.898%206.51%206.258%206.51%201.89%200%203.738-.587%205.502-1.638l-1.22-3.695zM62.836%2027.93h-4.83v22.344h4.83V38.598c.38-3.822%203.234-6.467%207.728-6.216v-4.62c-3.527%200-6.216%201.596-7.728%204.62v-4.45zM81.652%2027.762c-6.635.042-11.297%204.62-11.297%2011.383%200%206.72%204.536%2011.297%2011.424%2011.297%203.863%200%207.055-1.385%209.238-3.78l-2.562-2.73c-1.638%201.68-3.864%202.604-6.3%202.604-3.527%200-6.174-2.14-6.93-5.586H92.11c.59-8.063-2.603-13.188-10.458-13.188zm-6.51%209.66c.547-3.57%203.025-5.796%206.552-5.796%203.654%200%206.048%202.185%206.216%205.797H75.143zM104.248%2027.762c-6.635.042-11.297%204.62-11.297%2011.383%200%206.72%204.537%2011.297%2011.425%2011.297%203.864%200%207.056-1.385%209.24-3.78l-2.563-2.73c-1.638%201.68-3.864%202.604-6.3%202.604-3.527%200-6.174-2.14-6.93-5.586h16.884c.59-8.063-2.603-13.188-10.458-13.188zm-6.51%209.66c.547-3.57%203.024-5.796%206.553-5.796%203.654%200%206.048%202.185%206.217%205.797h-12.77zM129.07%2045.15c-1.3.63-2.352.967-3.36.967-1.512%200-2.394-.714-2.394-3.024v-10.71h6.594V28.77h-6.594v-6.13h-4.787v6.13h-3.15v3.612h3.15v11.592c0%204.578%202.897%206.51%206.256%206.51%201.89%200%203.74-.587%205.502-1.638l-1.218-3.695zM161.788%2027.762c-4.074%200-7.056%201.638-8.483%205.376-1.05-3.4-3.78-5.376-7.77-5.376-3.697%200-6.553%201.345-8.107%204.495V27.93h-4.788v22.344h4.788V39.23c0-3.907%202.352-6.848%206.216-6.973%203.276%200%205.25%202.058%205.25%205.46v12.557h4.83V39.23c0-3.907%202.31-6.848%206.132-6.973%203.276%200%205.292%202.058%205.292%205.46v12.557h4.83V36.372c0-5.334-3.066-8.61-8.19-8.61zM176.74%2018.607c-1.596%200-2.814%201.218-2.814%202.94%200%201.68%201.218%202.898%202.814%202.898s2.814-1.22%202.814-2.9c0-1.72-1.218-2.938-2.814-2.938zm2.394%2031.667V27.93h-4.788v22.344h4.788zM192.28%2035.574l-4.998-7.643h-5.544l7.35%2010.878-7.896%2011.466h5.376l5.712-8.19%205.334%208.19h5.544l-7.686-11.466%207.182-10.877h-5.292l-5.082%207.644z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-position: center center;
}

.loading-spinner::before {
  @include loading-spinner;

  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
}

#loading noscript {
  width: 100%;
  height: 60px;
  // Position over the loading spinner
  margin-top: -80px;
  background-color: $sky-colour;
  text-align: center;
  z-index: 1;
  // Center display if flexbox is supported
  display: flex;
  justify-content: center;
  align-items: center;
}

// --------------------------------------------------------

body.controls-fade-out .info-bubble {
  transition: opacity $touch-controls-fadeout-time;
  opacity: 0.01 !important;
}

body.controls-fade-out .segment .drag-handle {
  transition: opacity $touch-controls-fadeout-time !important;
  opacity: 0.01 !important;
}

body.controls-fade-out .segment.hover .hover-bk {
  transition: opacity $touch-controls-fadeout-time !important;
  opacity: 0.01 !important;
}
