//
//  No-internet mode
//
//  These classes only apply when the `no-internet` class
//  is applied to the body tag.
//
//  -------------------------------------------------------

body.no-internet {
  a[href^="http"],
  a[rel="external"],
  a[href^="http"]:hover,
  a[rel="external"]:hover {
    text-decoration: none;
    cursor: text;
    color: inherit !important; // Ensure that hover styles do not override the color
  }

  .avatar {
    display: none;
  }

  #about .left ul {
    display: none;
  }

  // Share menu
  .share-sign-in-promo,
  .share-via-link-container,
  .share-via-twitter,
  .share-via-facebook {
    display: none;
  }
}

// Local font files
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('../fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url('../fonts/Lato-LightItalic.ttf') format('truetype');
}
