//
//  No-internet mode
//
//  These classes only apply when the `no-internet` class
//  is applied to the body tag.
//
//  -------------------------------------------------------

body.no-internet {
  a[href^="http"],
  a[rel="external"],
  a[href^="http"]:hover,
  a[rel="external"]:hover {
    text-decoration: none;
    cursor: text;
    color: inherit !important; // Ensure that hover styles do not override the color
  }

  .avatar {
    display: none;
  }

  #about .left ul {
    display: none;
  }

  // Share menu
  .share-sign-in-promo,
  .share-via-link-container,
  .share-via-twitter,
  .share-via-facebook {
    display: none;
  }
}

// Local font files
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik Regular"), local("Rubik-Regular"),
    url("../fonts/rubik/Rubik-Regular.woff2") format("woff2"),
    url("../fonts/rubik/Rubik-Regular.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: local("Rubik Medium"), local("Rubik-Medium"),
    url("../fonts/rubik/Rubik-Medium.woff2") format("woff2"),
    url("../fonts/rubik/Rubik-Medium.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  src: local("Rubik Italic"), local("Rubik-Italic"),
    url("../fonts/rubik/Rubik-Italic.woff2") format("woff2"),
    url("../fonts/rubik/Rubik-Italic.woff") format("woff");
}
