// Fonts

/* Set root font-size */
html {
  font-size: $font-size-base;
}

@font-face {
  font-family: "Roadgeek";
  src: url("../fonts/roadgeek-2005-engschrift.otf");
}

body,
button,
a.button-like,
input,
select,
option {
  font-family: $font-family;
  font-size: 1rem;
}

body.experimental-font-family {
  font-family: $experimental-font-family;

  button,
  a.button-like,
  input,
  select,
  option {
    font-family: $experimental-font-family;
  }
}
