// Fonts

@font-face {
  font-family: 'Roadgeek';
  src: url('../fonts/roadgeek-2005-engschrift.otf');
}

body,
button,
a.button-like,
input,
select,
textarea,
option {
  font-family: $font-family;
}

body.experimental-font-family {
  font-family: $experimental-font-family;

  button,
  a.button-like,
  input,
  select,
  textarea,
  option {
    font-family: $experimental-font-family;
  }
}
