#loading
  span(data-i18n='msg.loading') Loading…
  progress(id='loading-progress', value=0, max=1)

#blocking-shield
  .message
  .try-again
    | Streetmix is having trouble connecting to the Internet.
    | <br>
    button#blocking-shield-try-again.
      Try again
    button#blocking-shield-cancel.
      Cancel
  .too-slow
    | Streetmix wasn’t able to connect to the Internet in awhile now.
    | <br>
    | <br>
    | You might want to reload the page and try again. Please note you
    | might lose the latest change to the street. Sorry!
    | <br>
    | <br>
    button#blocking-shield-reload.
      Reload
