#gallery
  .loading
  .error-loading
    | Failed to load the gallery.
    button#gallery-try-again Try again
  .sign-in-promo
    | <a href='/twitter-sign-in?redirectUri=/just-signed-in'>Sign in with Twitter</a> for your personal street gallery
  .avatar
  .user-id
  .street-count

  a.button-like#new-street(href='#', target='_blank')
  a.button-like#copy-last-street(href='#', target='_blank')

  ul.streets
