nav#top-menu-bar.menu-bar
  ul.menu-bar-left
    li.menu-bar-title
      .streetmix-logo
      h1 Streetmix
    li#help-menu-item
      button.menu-attached#help-menu-button(data-i18n='menu.item.help') Help
    li#feedback-menu-item
      button.menu-attached#feedback-menu-button(data-i18n='menu.item.contact') Contact

  ul.menu-bar-right
    li#identity-menu-item
      button.menu-attached#identity-menu-button
    li#sign-in-menu-item(style='display: none;')
      span#sign-in-link
    li
      a(target='_blank', href='/new', data-i18n='menu.item.new-street') New street
    li#gallery-link(style='display: none;')
      a(href='', data-i18n='menu.item.my-streets') My streets
    li#settings-menu-item
      button.menu-attached#settings-menu-button(data-i18n='menu.item.settings') Settings
    li#share-menu-item
      button.menu-attached#share-menu-button(data-i18n='menu.item.share') Share

  .environment-badge
