#welcome
  div
    button.close ×

    .first-time-new-street
      h1(data-i18n='dialogs.welcome.heading').
        Welcome to Streetmix Lower East Side!
      p.
        Design, envision and share your Lower East Side street. Add trees, street seats and
        protected bike lanes, change lane widths, and help us re-imagine Lower East Side streets.
        Learn more about our street visioning project at
        <strong>makeourstreet.nyc</strong>

      p(class='important').
        Start by moving some segments around with
        <span class='touch-only'>your finger.</span>
        <span class='non-touch-only'>your mouse.</span>

    .first-time-existing-street
      h1(data-i18n='dialogs.welcome.heading').
        Welcome to Streetmix Lower East Side!
      p.
        This is
        #[span.street-name#welcome-street-name]
        <span id='welcome-avatar-creator'>
          made by
          <span class='avatar' id='welcome-avatar' userId=''></span>
          <span id='welcome-creator'></span>
        </span>.
      p.important.
        Remix it by moving some segments around,
        or <button id='welcome-new-street'>Start your own street</button>.

    .new-street
      h1(data-i18n='dialogs.new-street.heading').
        Here’s your new Lower East Side street.
      ul
        li
          input#new-street-default(type='radio', name='new-street')
          label(for='new-street-default', data-i18n='dialogs.new-street.default').
            Start with an example street
        li
          input#new-street-empty(type='radio', name='new-street')
          label(for='new-street-empty', data-i18n='dialogs.new-street.empty').
            Start with an empty street
        li
          input#new-street-last(type='radio', name='new-street')
          label(for='new-street-last', data-i18n='dialogs.new-street.last').
            Start with a copy of last street
