@use "sass:color";
@import "../../styles/variables";

.palette-item {
  display: inline-block;
  position: relative;
  margin: 14px 0;
  height: 80px;
  width: 60px;
  top: 0;
  background-color: fade-out($sky-colour, 0.3);
  margin-right: 1px;
  transform-origin: 50% 75%;
  transition: transform 50ms !important;
}

/* Wrapper element for Tooltip */
.palette-item > div {
  height: 100%; // Must provide this for proper tooltip positioning
  width: 100%;
  text-align: center;
}

.palette-item:not(.palette-item-disabled):hover,
.palette-item:not(.palette-item-disabled) > div:focus {
  background: fade-out($sky-colour, 0.05);
  z-index: 1;

  .palette-item-image {
    transform: scale(1.15);
  }
}

.palette-item-image {
  transform-origin: 50% 75px;
  transition: transform 0.08s cubic-bezier(0, 2.5, 1, 1);
}

@media (prefers-reduced-motion) {
  .palette-item-image {
    transition: none;
  }
}

.palette-item-disabled {
  background: color.adjust(fade-out($sky-colour, 0.3), $saturation: -100%);

  .palette-item-image {
    filter: grayscale(0.8);
    opacity: 0.5;
  }

  .fa-lock {
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 2;
    color: $colour-copper-600;

    [dir="rtl"] & {
      left: 4px;
      right: auto;
    }
  }
}
