@import '../../styles/variables.scss';
// TODO
// Not included here: segments

// Applied by the wrapping element created by Scrollable.jsx component
.palette-scrollable-container {
  height: $palette-height;
  position: absolute;
  top: 0;
  left: 140px;
  right: 140px;

  button.scrollable {
    margin-top: 10px;
    z-index: $z-04-palette-scroll;

    // New style!
    width: 40px;
    border: $button-border;
    border-radius: 50%;

    &.scroll-right {
      right: -20px !important;
    }

    &.scroll-left {
      left: -20px !important;
    }
  }

  [dir="rtl"] & {
    direction: ltr;
  }
}

.palette {
  height: $palette-height + 20px; // To cover scroll bars
  position: absolute;
  top: -30px; // To cover scroll bars
  left: 0;
  right: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
