@import '../../css/variables.scss';

.palette-tooltip {
  position: fixed;
  background: white;
  bottom: 84px;
  padding: 0.75em 1.5em;
  font-size: 13px;
  border: 3px solid #85b7cc;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  text-align: center;
  max-width: 100px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 100ms, transform 100ms ease-in;
  z-index: 2; // Positions this above hovered segment element
  pointer-events: none;
}

.palette-tooltip-show {
  opacity: 1;
  transform: translateY(0);
}

.palette-tooltip-contents {
  max-height: 100px;
  overflow: hidden;
  overflow-wrap: break-word;
  hyphens: auto;
}

.palette-tooltip-pointer-container {
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  overflow: hidden;
  pointer-events: none;
  bottom: -33px;
  height: 33px;
}

.palette-tooltip-pointer {
  position: absolute;
  height: 30px;
  width: 30px;
  left: 50%;
  bottom: 22px;
  margin-left: -18px;
  border: 3px solid #85b7cc;
  transform: rotate(45deg);
  background: #fff;
  box-shadow: none;
}
