@import "../../styles/variables.scss";

$palette-height: 64px;

.palette-container {
  position: absolute;
  left: $left-right-inset;
  right: $left-right-inset;
  bottom: 0;
  height: $palette-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $palette-background;
  z-index: $z-02-palette;
  user-select: none;
  touch-action: none;
  border-top-left-radius: $border-radius-large;
  border-top-right-radius: $border-radius-large;
}

.palette-commands {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  width: 120px;

  button {
    height: 40px;
    width: 40px;
    padding: 0;
  }

  // Spacing between buttons
  button + button {
    margin-left: 0.25em;

    // Other way around on rtl
    [dir="rtl"] & {
      margin-left: 0;
      margin-right: 0.25em;
    }
  }
}

.palette-commands-right {
  justify-content: flex-end;
}
