/* TODO: Further split-up and refactoring of styles */

.segment {
  display: block;
  position: absolute;
  top: calc(-1 * var(--canvas-ground));
  height: var(--canvas-height);
  text-align: center;
  perspective: 500px;
  touch-action: none;
}

.segment-canvas-container {
  width: 100%;
  height: 100%;
}

body.segment-move-dragging .segment-empty {
  display: none;
}

body:not(.segment-resize-dragging) .segment {
  transition:
    width 150ms,
    left 150ms,
    transform 150ms;
}

body.immediate-segment-resize .segment {
  transition: none !important;
}

.segment.active {
  z-index: var(--z-02-segment-focused) !important;
}

.segment.active .active-bg {
  background: var(--segment-active-background);
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  z-index: -1;
  height: calc(var(--canvas-baseline) - 10px);
  pointer-events: none;
}

body:not(.read-only) .segment {
  cursor: grab;
}

.segment.dragged-out {
  opacity: 0;
}

body.segment-move-dragging,
body.segment-move-dragging * {
  cursor: grabbing !important;
}

body.not-within-canvas,
body.not-within-canvas * {
  cursor: no-drop !important;
}

/* NOTE: targeting immediate child div because CSSTransition wrapper workaround
   -- only on removal transition, not switching transition */
.slice-remove-exit > div,
.switching-away-exit {
  position: absolute;
  z-index: var(--z-10-switch-away);
  pointer-events: none;
  transform: none !important;
  transition: none !important;
  perspective: 400px;
}

.slice-remove-exit-done > div,
.switching-away-exit-done {
  z-index: var(--z-10-switch-away) !important;
}

.slice-remove-exit-active canvas,
.switching-away-exit-active canvas {
  transition:
    transform var(--segment-switching-time) ease-in,
    opacity var(--segment-switching-time) ease-in !important;
  transform: rotateX(-60deg);
  transform-origin: 50% 120%;
  opacity: 0;
}

.switching-in-enter {
  z-index: -1 !important;
  perspective: 400px;

  canvas {
    transform: rotateX(90deg);
    transform-origin: 50% 100%;
    opacity: 0;
  }
}

.switching-in-enter-done {
  z-index: -1 !important;
}

.switching-in-enter-active canvas {
  opacity: 1;
  transition:
    transform var(--segment-switching-time),
    opacity var(--segment-switching-time) !important;
  transform: none;
}
