.test-slope-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.slope-debug {
  position: absolute;
  top: 100px;
  text-align: center;
  width: 100%;

  > p {
    white-space: nowrap;
    margin: 0;
  }
}
