.test-slope-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;

  canvas {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.slope-debug {
  position: absolute;
  top: 100px;
  text-align: center;
  width: 100%;
}