@import "../../styles/variables.scss";

.up-down-input-element {
  width: 50px;
  margin: 0 3px;
  font-family: $font-family;
  text-align: center;
  background: $form-element-background;
  border: 1px solid $form-element-border;
  vertical-align: bottom;
  height: 30px;
  line-height: 22px;
  outline: none;
}
