.settings-dialog {
  width: 650px;
  height: 70vh;
  min-height: 300px;
  max-height: 90vh;
}

.settings-dialog-content {
  display: flex;
  position: absolute; /* the only way to make this be the full height of container */
  height: 100%;
  width: 100%;
}

.settings-dialog-left {
  width: 180px;
  border-inline-end: 1px solid var(--color-turquoise-500);
  overflow: hidden auto;

  ul {
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    list-style-type: none;
  }

  li {
    padding: 0.8em 1.2em;
    cursor: pointer;

    &:hover {
      background-color: var(--color-turquoise-200);
    }
  }
}

.settings-dialog-right {
  flex: 1;
  padding: 2em;
  overflow: hidden auto;

  h2 {
    color: var(--color-turquoise-800);
    font-weight: normal;

    &:first-child {
      margin-top: 0;
    }
  }

  section {
    margin-bottom: 2em;
  }
}

.settings-menu-active {
  background-color: var(--color-turquoise-100);
  color: var(--color-turquoise-900);
  font-weight: 550;
}

.settings-menu-icon {
  vertical-align: text-top;
  margin-inline-end: 0.5em;
  color: var(--color-turquoise-800);
  font-size: 16px;
}

.settings-item {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
