.menu#feedback-menu
  a(href='http://forums.streetmix.net/', target='_blank')
    svg.icon
      use(xlink:href='#icon-forums')
    span(data-i18n='menu.contact.forums') Community forums
  a#feedback-via-twitter(href='#', target='_blank')
    svg.icon
      use(xlink:href='#icon-twitter')
    span(data-i18n='menu.contact.twitter') Send a tweet to @streetmix
  a(href='http://streetmix-slack.herokuapp.com/', target='_blank')
    svg.icon
      use(xlink:href='#icon-slack')
    span(data-i18n='menu.contact.slack') Join Slack chat
  a(href='https://github.com/codeforamerica/streetmix/', target='_blank')
    svg.icon
      use(xlink:href='#icon-github')
    span(data-i18n='menu.contact.github') View source code on GitHub
  a(href='http://blog.streetmix.net', target='_blank') Visit Streetmix blog
