.menu#feedback-menu
  //- .form#feedback-form
  //-   .feedback-notice.loading Loading…
  //-   .feedback-notice.thank-you We got it. Thanks!
  //-   .feedback-notice.error We’re sorry, there was a problem sending feedback at this time. Please try again later.
  //- 
  //-   | Send us a message:
  //- 
  //-   textarea#feedback-form-message(placeholder='What do you think of Streetmix?')
  //-   input#feedback-form-email(type='email', placeholder='Your email (optional)', spellcheck='false')
  //-   button#feedback-form-send Send message
  //- 
  a(href='http://forums.streetmix.net/', target='_blank')
    svg.icon
      use(xlink:href='#icon-forums')
    span(data-i18n='menu.contact.forums') Community forums
  a#feedback-via-twitter(href='#', target='_blank')
    svg.icon
      use(xlink:href='#icon-twitter')
    span(data-i18n='menu.contact.twitter') Send a tweet to @streetmix
  a(href='http://streetmix-slack.herokuapp.com/', target='_blank')
    svg.icon
      use(xlink:href='#icon-slack')
    span(data-i18n='menu.contact.slack') Join Slack chat
  a(href='https://github.com/codeforamerica/streetmix/', target='_blank')
    svg.icon
      use(xlink:href='#icon-github')
    span(data-i18n='menu.contact.github') View source code on GitHub
  a(href='http://blog.streetmix.net', target='_blank') Visit Streetmix blog
