.menu#settings-menu
  .form
    p
      span(data-i18n='menu.language.heading') Language
    p
      select#language-select
        option(value='en', data-i18n='i18n.lang.en') English
        option(value='en@pirate', data-i18n='i18n.lang.en@pirate') English (Pirate)
        option(value='fi', data-i18n='i18n.lang.fi') Finnish
        option(value='de', data-i18n='i18n.lang.de') German
        option(value='es', data-i18n='i18n.lang.es') Spanish
        option(value='es-MX', data-i18n='i18n.lang.es-mx') Spanish (Mexico)
        option(value='pl', data-i18n='i18n.lang.pl') Polish
        option(value='pt-BR', data-i18n='i18n.lang.pt-br') Portuguese (Brazil)
