/* Not used: use .btn classes from Button.css
/* .shepherd-button {
  background: #3288e6;
  border: 0;
  border-radius: 3px;
  color: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  margin-right: 0.5rem;
  padding: 0.5rem 1.5rem;
  transition: all 0.5s ease;

  &:not(:disabled):hover {
    background: #196fcc;
    color: hsla(0, 0%, 100%, 0.75);
  }

  &.shepherd-button-secondary {
    background: #f1f2f3;
    color: rgba(0, 0, 0, 0.75);
  }

  &.shepherd-button-secondary:not(:disabled):hover {
    background: #d6d9db;
    color: rgba(0, 0, 0, 0.75);
  }

  &:disabled {
    cursor: not-allowed;
  }
} */

.shepherd-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: flex-end;
  padding: 0 0.75rem 0.75rem;
}

.shepherd-footer .shepherd-button:last-child {
  margin-right: 0;
}

.shepherd-cancel-icon {
  background: transparent;
  border: none;
  color: hsl(0deg 0% 50% / 75%);
  cursor: pointer;
  font-size: 2em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  transition: color 0.5s ease;
}

.shepherd-cancel-icon:hover {
  color: rgb(0 0 0 / 75%);
}

.shepherd-has-title .shepherd-content .shepherd-cancel-icon {
  color: hsl(0deg 0% 50% / 75%);
}

.shepherd-has-title .shepherd-content .shepherd-cancel-icon:hover {
  color: rgb(0 0 0 / 75%);
}

/* Matches <Dialog /><h2> */
.shepherd-title {
  color: var(--color-turquoise-900);
  margin: 0;
  line-height: 1;
  font-size: 180%;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.shepherd-header {
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: flex-end;
  line-height: 2em;
  padding: 0.75rem 0.75rem 0;
}

/* Matches <Dialog /> */
.shepherd-has-title .shepherd-content .shepherd-header {
  padding: 2em 1em;
  background-color: var(--color-turquoise-200);
}

.shepherd-text {
  color: rgb(65 65 65);
  font-size: 1rem;
  line-height: 1.3em;
  padding: 0.75em 1em;
}

.shepherd-text p {
  margin-top: 0;
}

.shepherd-text p:last-child {
  margin-bottom: 0;
}

.shepherd-content {
  border-radius: var(--border-radius-large);
  outline: none;
  padding: 0;
}

.shepherd-element {
  background: #fff;
  border: none;
  border-radius: var(--border-radius-large);
  box-shadow:
    hsl(206deg 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206deg 22% 7% / 20%) 0 10px 20px -15px,
    0 0 0 3px rgb(82 162 175 / 20%);
  margin: 0;
  width: max-content; /* see how this feels */

  /* max-width: calc(100vw * 0.5); */
  max-width: 350px;
  opacity: 0;
  outline: none;
  padding: 0;
  transition:
    opacity 0.3s,
    visibility 0.3s;
  visibility: hidden;
  z-index: 9999;
}

.shepherd-enabled.shepherd-element {
  opacity: 1;
  visibility: visible;
}

.shepherd-element[data-popper-reference-hidden]:not(.shepherd-centered) {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.shepherd-element,
.shepherd-element *,
.shepherd-element ::after,
.shepherd-element ::before {
  box-sizing: border-box;
}

.shepherd-arrow,
.shepherd-arrow::before {
  height: 16px;
  position: absolute;
  width: 16px;
  z-index: -1;
}

.shepherd-arrow::before {
  background: #fff;
  content: "";
  transform: rotate(45deg);
}

.shepherd-element[data-popper-placement^="top"] {
  margin-bottom: 10px;

  & > .shepherd-arrow {
    bottom: -8px;
  }
}

.shepherd-element[data-popper-placement^="bottom"] {
  margin-top: 10px;

  & > .shepherd-arrow {
    top: -8px;
  }
}

.shepherd-element[data-popper-placement^="left"] {
  margin-right: 10px;

  & > .shepherd-arrow {
    right: -8px;
  }
}

.shepherd-element[data-popper-placement^="right"] {
  margin-left: 10px;

  & > .shepherd-arrow {
    left: -8px;
  }
}

.shepherd-element.shepherd-centered > .shepherd-arrow {
  opacity: 0;
}

.shepherd-element.shepherd-has-title[data-popper-placement^="bottom"]
  > .shepherd-arrow::before {
  background-color: #e6e6e6;
}

.shepherd-target-click-disabled.shepherd-enabled.shepherd-target,
.shepherd-target-click-disabled.shepherd-enabled.shepherd-target * {
  pointer-events: none;
}

.shepherd-modal-overlay-container {
  height: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition:
    all 0.3s ease-out,
    height 0s 0.3s,
    opacity 0.3s 0s;
  width: 100vw;
  z-index: 9997;
  fill: var(--color-turquoise-200);
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible {
  height: 100vh;
  opacity: 0.5;
  transform: translateZ(0);
  transition:
    all 0.3s ease-out,
    height 0s 0s,
    width 0s 0s,
    opacity 0.3s 0s;
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible path {
  pointer-events: all;
}

.tour-medium-width {
  max-width: 250px;
}

.tour-test {
  position: absolute;
  z-index: 1000;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: white;

  button {
    background-color: white;
    padding: 5px 10px;
    border: 1px solid blue;
    border-radius: 4px;
  }
}

.shepherd-btn-center {
  margin: 0 auto !important; /* Overrides .shepherd-button:last-child */
}

.tour-dialog {
  max-width: 500px;

  .shepherd-text {
    padding: 1rem 2rem 1.5rem;
  }

  .shepherd-footer {
    padding: 0 2rem 1.5rem;
  }
}
