@use "sass:color";
@import "../../../styles/variables";

.street-meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0.5em;
  color: black;
  user-select: none;
  pointer-events: auto;
  transition: color $skybox-transition;
  font-size: 0.925rem;

  > span,
  > div {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 0.25em;
  }

  > span:not(:first-child),
  > div:not(:first-child) {
    margin-left: 0.25em;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    padding: 0 0.5em;
    cursor: pointer;
    border-radius: $border-radius-large;

    &:hover {
      background-color: rgba(255 255 255 / 20%);
    }
  }

  span > svg:first-child,
  button > svg:first-child {
    transform: scale(1); // Override
    margin-right: 0.3em;
    width: 16px;
    height: 16px;
  }
}

body.read-only .street-metadata-author a {
  text-decoration: none;
  cursor: default;
}

.street-metadata-width > button > svg:first-child {
  /* Radix UI optimized width/height */
  width: 15px;
  height: 15px;
}

// Invert the UI text color when there is a dark background
body.dark-skybox-invert-ui {
  .street-meta {
    color: #fff;
  }
}
