<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Not found - Streetmix</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="title" content="Streetmix">
    <meta name="description" content="A collaborative civic engagement platform for urban design. Design, remix, and share your neighborhood street with Streetmix.">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="transparent">

    <link href="/favicon.ico" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic" rel="stylesheet">
    <link href="/assets/main.{{cacheTimestamp}}.css" rel="stylesheet">
  </head>
  <body tabindex="1">
    <div id="error">
      <div class="clouds-background">
        <div class="rear-clouds"></div>
        <div class="front-clouds"></div>
      </div>
      <div class="error-content">
        <div class="streetmix-logo"></div>
        <h1><span>Page not found.</span></h1>
        <div>
          <span>Oh, boy. There is no page with this address!</span><br>
          <a class="button-like" href="/">Go to the homepage</a>
        </div>
      </div>
    </div>
  </body>
</html>
