<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Not found - Streetmix</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="title" content="Streetmix" />
    <meta
      name="description"
      content="A collaborative civic engagement platform for urban design. Design, remix, and share your neighborhood street with Streetmix."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="transparent" />
    <link href="/favicon.ico" rel="shortcut icon" />
    <link href="/assets/main.{{cacheTimestamp}}.css" rel="stylesheet" />
  </head>
  <body tabindex="1">
    <div id="error">
      <div class="error-content">
        <div class="streetmix-logo"></div>
        <div class="error-text">
          <h1><span>Page not found.</span></h1>
          <p>Oh, boy. There is no page with this address!</p>
        </div>
        <a class="btn" href="/">Go to the homepage</a>
      </div>
    </div>
  </body>
</html>