extends _layout

block main
  #flash

  #debug
    textarea(readonly)

  include ./ui/blocking
  include ./ui/gallery

  #main-screen

    //- Mount point for React-based menus
    #menus

    .info-bubble

    #status-message.status-message
      .status-message-content

    #no-connection-message.status-message
      .status-message-content
        | Streetmix is having trouble connecting to the Internet.
        button#no-connection-try-again.
          Try again

    #street-name-canvas
      #street-name.street-name
      #street-metadata
        span#street-metadata-width
          span#street-width-read(title='Change width of the street')
            span#street-width-read-width
            | &nbsp;
            span#street-width-read-difference
          select#street-width
        span#street-metadata-author
        span#street-metadata-date

    #dialogs-react

    include ./ui/welcome

    section#street-section-outer
      #gallery-shield

      section#street-section-inner
        section#street-section-canvas
          section.street-section-building#street-section-left-building
            .hover-bk
          section.street-section-building#street-section-right-building
            .hover-bk
          #street-section-editable
          .segment.empty#street-section-left-empty-space
          .segment.empty#street-section-right-empty-space
          section#street-section-dirt

    section#street-section-sky
      .rear-clouds
      .front-clouds
    #street-scroll-indicator-left
    #street-scroll-indicator-right

    .palette-container
      .palette-trashcan(data-i18n='palette.remove') Drag here to remove
      .palette-commands
        button#undo(data-i18n='btn.undo') Undo
        button#redo(data-i18n='btn.redo') Redo
      .palette
        .palette-canvas

  #print
    div
