<!DOCTYPE html>
<html>
<head>
  <title>Terms of Service - Streetmix</title>
  <style>
    body, iframe {
      margin: 0;
      padding: 0;
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>
  <iframe src="https://streetmix.github.io/static/terms-of-service/"></iframe>
</body>
</html>
