name: Update translations

on: [push]
# on:
#   schedule:
#     # Daily at a specific time (7:30 chosen arbitrarily)
#     - cron: "30 7 * * *"
#   workflow_dispatch:

jobs:
  translations:
    runs-on: ubuntu-latest
    env:
      TRANSIFEX_API_TOKEN: ${{ secrets.TRANSIFEX_API_TOKEN }}
      CYPRESS_INSTALL_BINARY: "0"
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    # Use the current LTS version of Node.js
    - name: Use Node.js 16
      uses: actions/setup-node@v3
      with:
        node-version: '16'
    - name: Install necessary dependencies
      # Disabling the package-lock prevents it from installing
      # unecessary dependencies. This may break in npm v7.
      run: npm install dotenv chalk mkdirp btoa axios winston --package-lock=false
    - name: Download translations
      run: npm run translations:download
    - name: Check status
      run: git status
