<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Streetmix</title>
    
    <meta charset='utf-8'>
    <meta http-equiv='Content-Language' content='en'>
    <meta name='description' content='Design, remix, and share your neighborhood street – all in your browser! Add trees or bike paths, widen sidewalks or traffic lanes, learn how your decisions can impact your community.'>

    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='transparent'>

    <link href='/favicon.ico' rel='shortcut icon'>

    <%= csrf_meta_tag %>

    <%= yield :head %>

    <% if ENV['GOOGLE_ANALYTICS_ACCOUNT'] %>
      <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', "<%= ENV['GOOGLE_ANALYTICS_ACCOUNT'] %>"]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>
  </head>

  <body tabindex='1'>
    <%= yield %>
  </body>
</html>
